<template>
  <app-layout :meta="meta">
    <el-main class="bg-question-marks-pattern">
      <search-bar/>
      <el-row v-for="category in categories" :key="category.id" class="mb-12 mt-6">
        <div class="font-head text-center text-white small-card-title m-auto w-full">
          {{category.name}}
        </div>
        <div class="flex-category hidden-scrollbar">
          <topic-card
              v-for="topic in category.topics"
              :topic="topic"
              :key="topic.id"
              :text="topic.name"
              :image_src="topic.image.url"
              :image_alt="topic.image.alt"
              :href="route('topic.get', topic.slug)"
          />
          <topic-card image_src="/images/empty-background.png" image_alt="View All" text="View All" :href="route('category.get', category.slug)"/>
        </div>
      </el-row>
    </el-main>
  </app-layout>
</template>

<script>
import AppLayout from "@/Layouts/App";
import SearchBar from "@/Components/SearchBar";
import TopicCard from "@/Components/TopicCard";

export default {
  components: {TopicCard, SearchBar, AppLayout},
  name: "Featured.vue",
  props: ["categories"],
  data: () => {
    return {
      title: "Discover Lists - Chooziz",
      description: "Chooziz allows you to skip the annoying pause you take when choosing something. Choose a topic from the explore page or read below to know more.",
      keywords: "Random, Choose, Randomly, search, QR",
    }
  },
  computed: {
    meta: function(){
      return {
        title: this.title,
        description: this.description,
        keywords: this.keywords,
      }
    },
  },
}
</script>

<style scoped>


.small-card-title{
  font-size: x-large;
  font-weight: lighter;
  letter-spacing: 1px
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}
.hidden-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Mobile */
@media only screen and (max-width: 768px) {
  .flex-category{
    display: flex;
    overflow-x: scroll;
    justify-content: flex-start;
  }
}

/* Not Mobile */
@media only screen and (min-width: 768px) {
  .flex-category{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}


</style>