<template>
  <app-layout :meta="meta">
    <el-main class="bg-question-marks-pattern">
      <search-bar :searchText="searchText"/>
      <el-row class="flex-topics-grid" v-if="data.data.length">
          <topic-card
              v-for="object in data.data"
              :key="getTopic(object).id"
              :text="getTopic(object).name"
              :image_src="getTopic(object).image.url"
              :image_alt="getTopic(object).image.alt"
              :href="route('topic.get', getTopic(object).slug)"
          />
      </el-row>
      <el-row class="flex-topics-grid" v-else>
        <p class="font-head text-white font-large">No items were found</p>
      </el-row>
      <el-row class="mt-12">
        <pagination :object="data"></pagination>
      </el-row>
    </el-main>
  </app-layout>
</template>

<script>
import AppLayout from "@/Layouts/App";
import SearchBar from "@/Components/SearchBar";
import TopicCard from "@/Components/TopicCard";
import Pagination from "@/Components/Pagination";

export default {
  components: {Pagination, TopicCard, SearchBar, AppLayout},
  name: "Featured.vue",
  props: ["data", "searchText"],
  data: () => {
    return {
      title: "search results - Chooziz",
      description: "Chooziz allows you to skip the annoying pause you take when choosing something. Choose a topic from the explore page or read below to know more.",
      keywords: "Random, Choose, Randomly, search, QR",
    }
  },
  computed: {
    meta: function(){
      return {
        title: this.title,
        description: this.description,
        keywords: this.keywords,
      }
    }
  },
  methods: {
    getTopic: (object) => {
      return object['topic'] ? object['topic'] : object;
    }
  }
}
</script>

<style scoped>
.font-large{
  font-size: x-large;
  letter-spacing: 1px;
}
.flex-topics-grid{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
</style>