<template>
  <app-layout :meta="meta">
    <el-main class="bg-question-marks-pattern">
      <el-row class="mt-12">
        <el-col :xs="{span: 22, offset: 1}" :sm="{span: 16, offset: 4}" :md="{span: 12, offset: 6}" :lg="{span: 12, offset: 6}" class="secondary-header text-center text-white font-main">
          You can use the QR to get a random item from your favorite list
        </el-col>
      </el-row>
      <el-row>
        <div class="flex-topics-grid">
          <el-card class="box-card transparent-small-card m-4" shadow="never">
            <el-image :src="qr" class="card-image" fit="stretch" alt="qr code"></el-image>
            <div class="flex-topics-grid mt-4">
              <a class="mr-1" @click="downloadURI(qr)" title="Download QR Code"><el-button>Download QR</el-button></a>
            </div>
          </el-card>
        </div>
      </el-row>
    </el-main>
  </app-layout>
</template>

<script>
import AppLayout from "@/Layouts/App";
export default {
  name: "Qr.vue",
  props: ["qr", "name"],
  components: {AppLayout},
  data: function(){
    return {
      title: "QR code: " + this.name + " - Chooziz",
      description: "",
      keywords: "",
      robots: "noindex",
    }
  },
  computed: {
    meta: function(){
      return {
        title: this.title,
        description: this.description,
        keywords: this.keywords,
        robots: this.robots
      }
    }
  },
  methods: {
    downloadURI: function(uri) {
      var link = document.createElement("a");
      link.download = this.name + "QR code.png";
      link.href = uri;
      document.body.appendChild(link);
      link.click();
      document.body.removeChild(link);
    }
  }
}
</script>

<style scoped>

.secondary-header{
  font-size: x-large;
}

.transparent-small-card{
  background-color: rgba(255, 255, 255, .15);
  width: 350px;
  border: none
}

.card-image {
  width: auto;
  height: auto;
  display: block;
}

.flex-topics-grid{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
</style>