<template>
  <app-layout :meta="meta">
    <el-main>
      <el-row class="text-center font-head main-header"><el-col md="24" lg="24">{{topic_name}}</el-col></el-row>
      <el-row class="text-center font-main mt-5 secondary-header"><el-col md="24" lg="24" v-linkified>{{item_name}}</el-col></el-row>
    </el-main>
  </app-layout>
</template>

<script>
import AppLayout from "@/Layouts/App";
export default {
  name: "Random.vue",
  props: ["topic_name", "item_name"],
  components: {AppLayout},
  data: function(){
    return {
      title: "Random Element: " + this.topic_name + " - Chooziz",
      description: "",
      keywords: "",
      robots: "noindex",
    }
  },
  computed: {
    meta: function(){
      return {
        title: this.title,
        description: this.description,
        keywords: this.keywords,
        robots: this.robots
      }
    }
  },
}
</script>

<style scoped>

.main-header{
  font-size: x-large;
  letter-spacing: 2px;
}

.secondary-header{
  font-size: large;
}

.flex-topics-grid{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

</style>