<template>
  <app-layout :meta="meta">
    <el-main class="bg-question-marks-pattern">
      <div class="flex-topics-grid">
        <el-card class="box-card transparent-small-card m-4" shadow="never">
          <el-image :src="topic.image.url" class="card-image" fit="cover" :alt="topic.image.alt"></el-image>
          <br/>
          <p class="text-left font-head text-white small-card-title">{{topic.name}}</p>
          <p class="text-left font-main text-white small-card-body">{{topic.description}}</p>
          <div class="flex-topics-grid mt-4">
            <a :href="route('topic.getRandom', topic.slug)" class="mr-1" title="Get Random Element"><el-button>Get Random</el-button></a>
            <a :href="route('topic.getQr', topic.slug)" title="Get QR Code"><el-button>Generate QR</el-button></a>
          </div>
        </el-card>
      </div>
    </el-main>
  </app-layout>
</template>

<script>
import AppLayout from "@/Layouts/App";
export default {
  name: "Topic.vue",
  components: {AppLayout},
  props: ["topic", "keywords"],
  data: function(){
    return {
      title: this.topic.name + " - Chooziz",
      description: this.topic.description,
      keywords: this.keywords + ", Random, Choose, Randomly, search, QR",
    }
  },
  computed: {
    meta: function(){
      return {
        title: this.title,
        description: this.description,
        keywords: this.keywords,
      }
    }
  },
}
</script>

<style scoped>

.transparent-small-card{
  background-color: rgba(255, 255, 255, .15);
  width: 350px;
  border: none
}

.small-card-title{
  font-size: x-large;
  font-weight: normal;
  letter-spacing: 1px
}

.small-card-body{
  font-size: large;
  font-weight: normal;
}

.card-image {
  width: 300px;
  height: 200px;
  display: block;
}

.flex-topics-grid{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
</style>