<template>
  <app-layout :meta="meta">
    <el-main class="bg-question-marks-pattern main-overflow">
        <el-row class="mt-12">
            <el-col :span="24" class="main-header text-center text-white font-head ">
                Can't Choose? <br/>
                We Got You
            </el-col>
        </el-row>
        <el-row class="mt-12">
            <el-col :xs="{span: 22, offset: 1}" :sm="{span: 16, offset: 4}" :md="{span: 12, offset: 6}" :lg="{span: 12, offset: 6}" class="secondary-header text-center text-white font-main">
                {{description}}
            </el-col>
        </el-row>
        <el-row class="mt-12">
            <el-col :span="24" class="text-center text-white font-head">
                <inertia-link :href="route('explore')" title="explore categories">
                    <el-button class="mt-20 explore-button" round>Explore</el-button>
                </inertia-link>
            </el-col>
        </el-row>
        <el-row class="flex justify-items-center center-flex mt-12">
            <el-card v-for="card in cards" :key="card.title" class="box-card transparent-small-card m-4" shadow="never">
                <el-image :src="card.image" :alt="card.image_alt" class="card-image" fit="cover"></el-image>
                <br/>
                <p class="text-left font-head text-white small-card-title">{{card.title}}</p>
                <p class="text-left font-main text-white small-card-body">{{card.body}}</p>
            </el-card>
        </el-row>
    </el-main>
  </app-layout>
<!--    <div class="bg-gray-700 height-auto">-->
<!--        <p class="text-white p-2 pl-4">Footer</p>-->
<!--    </div>-->
</template>

<style scoped>

.transparent-small-card{
    background-color: rgba(255, 255, 255, .15);
    width: 350px;
    border: none
}

.small-card-title{
    font-size: x-large;
    font-weight: normal;
    letter-spacing: 1px
}

.small-card-body{
    font-size: large;
    font-weight: normal;
}

.card-image {
    width: 300px;
    height: 200px;
    display: block;
}

.main-header{
    font-size: xxx-large;
    letter-spacing: 4px;
}

.secondary-header{
    font-size: x-large;
}

.explore-button{
    font-size: x-large;
}

/*@media only screen and (min-width: 768px){}@media only screen and (max-width: 768px){}*/

</style>

<script>
  import AppLayout from "@/Layouts/App"
  import LandingPageImage from "@/Components/LandingPageImage";
  import Button from "@/Components/Button";

  export default {
    components: {Button, LandingPageImage, AppLayout},
    computed: {
      meta: function(){
        return {
          title: this.title,
          description: this.description,
          keywords: this.keywords,
        }
      }
    },
    data: () => {
        return {
          title: "Chooziz - Can't Choose? We Got You!",
          description: "Chooziz allows you to skip the annoying pause you take when choosing something. Choose a topic from the explore page or read below to know more.",
          keywords: "Random, Choose, Randomly, search, QR",
          cards: [
            {
              "image": "/images/2.jpg",
              "image_alt": "table with laptop, earphones, red cup of coffee, alarm, and glasses",
              "title": "Morning Music",
              "body": "Your brain doesn't work most efficiently right when you wake does it? We got you! Chooziz will pick your morning music for you!",
            },
            {
              "image": "/images/1.jpg",
              "title": "Movie Night",
              "image_alt": "table with popcorn, 3D glasses, remote control",
              "body": "Sitting on the couch not sure what movie to watch? We got you! Chooziz will choose a random movie for you!",
            },
            {
              "image": "/images/3.jpg",
              "title": "Food Recipes",
              "image_alt": "kitchen table with salt, vegetables, and a food recipe",
              "body": "Sick of your old recipes and want to learn how to cook something new? We got you! Chooziz will decide tonight's dinner! ",
            },
          ]
        }
      }
    }

</script>
