<template>
  <breeze-authenticated-layout>
    <template #header>
      <h2 class="font-semibold text-xl text-gray-800 leading-tight">
        Storage
      </h2>
    </template>

    <div class="py-12">
      <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
        <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
          <div class="p-6 bg-white border-b border-gray-200">
            <table style="width:100%">
              <tr>
                <th>Name</th>
                <th>Size</th>
                <th>Type</th>
                <th></th>
              </tr>
              <tr v-for="file in files" :key="file.name">
                <td>{{ file.name }}</td>
                <td>{{ file.size }} KB</td>
                <td>{{ file.type }}</td>
                <td>
                  <a :href="file.url" target="_blank" v-if="file.type.startsWith('image')">Preview | </a>
                  <a :href="file.url" target="_blank" v-else>Download | </a>
                  <button class="text-red-600" @click="promptDelete(file.name)">Delete</button>
                  <form class="hidden" method="post" :action="route('storage.delete')" :ref="file.name + 'deleteForm'">
                    <input type="hidden" name="_token" :value="$page.props.auth['csrf-token']"/>
                    <input type="hidden" name="_method" value="delete" />
                    <input type="hidden" name="name" :value="file.name">
                  </form>
                </td>
              </tr>
            </table>
            <br/>
            <el-form method="post" :action="route('storage.store')" enctype="multipart/form-data">
              <input type="file" name="file"/>
              <div class="float-right">
                <input type="checkbox" name="keep_name"/> <label for="keep_name">Keep Original Name? </label>
                <input type="hidden" name="_token" :value="$page.props.auth['csrf-token']"/>
                <input type="submit" class="submit-button">
              </div>
            </el-form>
          </div>
        </div>
      </div>
    </div>
  </breeze-authenticated-layout>
</template>

<script>
import BreezeAuthenticatedLayout from '@/Layouts/Authenticated'
import Label from "@/Components/Label";
import Button from "@/Components/Button";

export default {
  props: ['files'],
  components: {
    Button,
    Label,
    BreezeAuthenticatedLayout,
  },
  methods: {
    promptDelete(fileName){
      this.$confirm('This will permanently delete ' + fileName + '. Continue?', 'Warning', {
        confirmButtonText: 'DELETE',
        cancelButtonText: 'Cancel',
        type: 'warning'
      }).then(() => {
        this.$refs[fileName + 'deleteForm'].submit()
      }).catch(() => {
        this.$message({
          type: 'info',
          message: 'Delete canceled'
        });
      });
    }
  }
}
</script>

<style>
  table, th, td {
    border: 1px solid black;
  }
  .submit-button{
    background-color: lightgreen;
    color: black;
    font-weight: bold;
    padding: 10px;
    border-radius: 10%;
  }
</style>
