<template>
    <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1245 265.91">
        <g class="cls-5">
            <path
                d="M807.2-494.55q37.38,0,40.7,31.56a40.45,40.45,0,0,0,.42,5.81q0,29.51-23.68,61.05-24.09,31.15-48.17,32h-1.24q-23.26-1.25-28.66-21.6a34.52,34.52,0,0,1-1.25-9.13q0-17.85,12-24.92a20.35,20.35,0,0,1,7.89-2.49q4.56,13.69,15.36,14.12,15.78,0,34.06-22.84,15.36-19.51,15.78-35.3,0-14.54-16.2-16.2h-.83a32.56,32.56,0,0,1-5.4-.41q-41.12,0-70.6,50.25a193.76,193.76,0,0,0-27,93v5q0,44.87,22.84,54.82a27.68,27.68,0,0,0,10.8,2.08h1.24a113.41,113.41,0,0,0,23-2.28,77.53,77.53,0,0,0,17.86-5.61,126.17,126.17,0,0,0,11.84-6.44,30.33,30.33,0,0,0,7.06-5.6l2.07-2.08c2.77-1.38,4.57-1.25,5.4.41.27,1.11-.14,2.36-1.24,3.74l-12.05,17q-33.63,40.71-68.1,41.11-51.51,0-69.77-44Q644-322.2,661.44-377q18.67-57.72,63.12-90.54Q761.94-494.54,807.2-494.55Z"
                transform="translate(-217.71 494.55)"/>
            <path
                d="M890.26-480.43q17,0,17.44,6.23v.83q-31.58,75.17-52.33,133.72,38.21-31.56,66-23.67,17.45,5,5.4,41.94-1.66,4.15-4.57,12.46-8.72,24.51-4.56,27a3.6,3.6,0,0,0,1.66.41q5.8.42,11.83-4.36a43.91,43.91,0,0,0,9.35-9.76l3.32-5q3.31-2.49,5,.83a6.91,6.91,0,0,1,0,3.32l-11.63,19.52Q913.51-243.29,894-245.38q-29.49-3.31-17.85-46.09,1.65-7.06,6.23-20.35,7.47-24.09,4.15-26.17-15-7-39,21.6Q843.75-305.59,841-296t-5,18.06a152.84,152.84,0,0,0-3.32,15,53.64,53.64,0,0,0-.83,11c.13,3.05.76,5.12,1.87,6.23q-.42-.42-2.91,0-19.93.4-30.32-8.31-15.36-13.29,60.22-195.19,5.81-14.1,10.8-26.16Q874.46-480.43,890.26-480.43Z"
                transform="translate(-217.71 494.55)"/>
            <path
                d="M997.4-365.81a58,58,0,0,1,19.1,3.32q25.34,9.56,25.33,41.95a85.13,85.13,0,0,1-5.81,27.82q7.89-.4,16.61-7.48,2.91-2.07,4.15,1.66a3.83,3.83,0,0,1,0,2.5l-7.89,7.47q-9.56,7.49-19.1,9.14-17.87,29.9-45.68,33.22h-6.65q-22.85.83-30.73-26.58-8.29-27.81,4.57-57.72,13.71-32.81,42.78-35.3Zm16.19,9.13q-11.21,0-20.76,20.77-11.62,25.34-5.4,43.19,4.16,9.56,12,12a16.24,16.24,0,0,0,12.46-1.66Q999.06-289,1004-305.59q3.74-12,12.46-14.12a8.66,8.66,0,0,1,8.72,2.49,9.78,9.78,0,0,1,2.91,5.81q5.38-26.56-4.15-39.45a17.68,17.68,0,0,0-7.89-5.4A8.14,8.14,0,0,0,1013.59-356.68Z"
                transform="translate(-217.71 494.55)"/>
            <path
                d="M1105.78-365.81a58,58,0,0,1,19.11,3.32q25.32,9.56,25.33,41.95a85.13,85.13,0,0,1-5.81,27.82q7.88-.4,16.61-7.48c1.93-1.38,3.32-.83,4.15,1.66a4,4,0,0,1,0,2.5l-7.89,7.47q-9.55,7.49-19.1,9.14-17.87,29.9-45.69,33.22h-6.64q-22.85.83-30.73-26.58-8.31-27.81,4.57-57.72,13.69-32.81,42.77-35.3Zm16.2,9.13q-11.22,0-20.77,20.77-11.62,25.34-5.39,43.19,4.14,9.56,12,12a16.24,16.24,0,0,0,12.46-1.66q-12.88-6.63-7.89-23.25,3.73-12,12.46-14.12a8.66,8.66,0,0,1,8.72,2.49,9.71,9.71,0,0,1,2.9,5.81q5.4-26.56-4.15-39.45a17.57,17.57,0,0,0-7.89-5.4A8,8,0,0,0,1122-356.68Z"
                transform="translate(-217.71 494.55)"/>
            <path
                d="M1185.1-331.34q-10-2.91-12-16.61-.83-11.22,5.4-17-1.67,9.56,19.94,12.87,25.32,3.74,41.53-4.15,5.38-2.49,7.06-5.81,11.2-2.51,21.59,8.72,3.73,4.16,4.15,7.06,0,2.09-19.51,23.67-29.51,32.39-23.26,39.87a14.42,14.42,0,0,0,10.38,2.7,35,35,0,0,0,12.25-3.95,92.12,92.12,0,0,0,11.63-7.06,110.48,110.48,0,0,0,8.93-7.06l3.32-2.91c1.38-.83,2.77-.27,4.15,1.66a3.75,3.75,0,0,1,0,4.16q-25.75,35.29-74.75,46.92-13.29,3.33-21.59,2.91-10-.42-17.44-11.63a26.09,26.09,0,0,1-3.33-9.55q.42-3.31,13.29-19.31t25.75-30.52l12.87-14.12-14.53,1.66a56.69,56.69,0,0,1-14.54-1.66A4.5,4.5,0,0,1,1185.1-331.34Z"
                transform="translate(-217.71 494.55)"/>
            <path
                d="M1338.34-357.92q-32.82,75.59-22.43,77.24,13.29,1.24,26.58-20.35c1.93-1.93,3.59-1.66,5,.83a5.12,5.12,0,0,1,0,2.91l-10.38,19.1q-22.42,34.49-44,32.4-43.6-5.82,7.47-114.21,4.15-5.38,24.09-3.74Q1339.17-362.48,1338.34-357.92Zm7.47-44q-1.24,12.45-13.5,15.78t-18.48-6.23a18.18,18.18,0,0,1-2.49-9.55q0-14.12,12.46-17.44,12-2.91,18.69,6.22A25.48,25.48,0,0,1,1345.81-401.94Z"
                transform="translate(-217.71 494.55)"/>
            <path
                d="M1366.57-331.34q-10-2.91-12-16.61-.84-11.22,5.4-17-1.67,9.56,19.93,12.87,25.34,3.74,41.53-4.15,5.38-2.49,7.06-5.81,11.21-2.51,21.59,8.72c2.5,2.77,3.88,5.12,4.16,7.06q0,2.09-19.52,23.67-29.49,32.39-23.26,39.87a14.45,14.45,0,0,0,10.39,2.7,35.11,35.11,0,0,0,12.25-3.95,92,92,0,0,0,11.62-7.06,110.48,110.48,0,0,0,8.93-7.06l3.33-2.91c1.38-.83,2.76-.27,4.15,1.66a3.79,3.79,0,0,1,0,4.16q-25.75,35.29-74.75,46.92-13.3,3.33-21.6,2.91-10-.42-17.44-11.63a26,26,0,0,1-3.32-9.55q.4-3.31,13.29-19.31T1384-316.39l12.88-14.12-14.54,1.66a56.56,56.56,0,0,1-14.53-1.66A4.42,4.42,0,0,1,1366.57-331.34Z"
                transform="translate(-217.71 494.55)"/>
        </g>
        <rect :style="style_1" x="82.5" y="2.45" width="265" height="45" rx="22.5"/>
        <rect :style="style_2" x="2.5" y="72.45" width="265" height="45" rx="22.5"/>
        <rect :style="style_3" x="82.5" y="142.45" width="265" height="45" rx="22.5"/>
        <rect :style="style_4" x="2.5" y="212.45" width="265" height="45" rx="22.5"/>
    </svg>
</template>

<style scoped>
.cls-5 {
    fill: #FFF;
}
</style>

<script>
function shuffleArray(array) {
    for (var i = array.length - 1; i > 0; i--) {
        var j = Math.floor(Math.random() * (i + 1));
        var temp = array[i];
        array[i] = array[j];
        array[j] = temp;
    }
}

function colorToStyleObject(color) {
    return `fill: ${color}`
}

import {getColorsArray} from "@/Configs/colors"

export default {
    data: () => {
        let colors = getColorsArray()
        shuffleArray(colors);
        return {
            style_1: colorToStyleObject(colors[0]),
            style_2: colorToStyleObject(colors[1]),
            style_3: colorToStyleObject(colors[2]),
            style_4: colorToStyleObject(colors[3]),
        }
    }
}
</script>
