<template>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 441.54 423.42">
        <g id="Background_Complete" data-name="Background Complete">
            <path class="cls-1"
                  d="M1010.77,533c-17.23-8.16-24.11-27.56-26.54-45.63-.4-3-1.27-6.12-.28-9s4-5.23,6.9-4.43c2.4.68,3.81,3.1,5.42,5a17.76,17.76,0,0,0,8.17,5.53c2.08.67,4.54.88,6.25-.48,2.35-1.87,2-5.49,1.53-8.47q-1.47-8.34-2.93-16.66a28.24,28.24,0,0,1-.6-9c.45-3,2.06-6,4.76-7.24s6.49-.23,7.58,2.58a28.76,28.76,0,0,1,.71,3.7c.3,1.23,1.1,2.5,2.34,2.65s2.3-.9,3-1.93c2.57-3.53,4-7.76,5.3-11.95s2.53-8.46,4.77-12.22,5.66-7,9.89-8,9.23.9,11,4.91.06,8.7-2,12.56a67.36,67.36,0,0,1-11.62,15.56,5.51,5.51,0,0,0-1.9,2.88c-.31,2.1,1.91,3.76,4,4.08,2.35.36,4.72-.28,7.1-.4s5.06.48,6.31,2.53c1.74,2.84-.27,6.47-2.42,9a58.06,58.06,0,0,1-15.24,12.6c-2,1.17-4.24,2.27-5.75,4.11s-2.12,4.7-.7,6.62,4.28,2.13,6.51,1.31,4.07-2.41,6.12-3.6c3.84-2.24,9.18-2.86,12.4.24a9.59,9.59,0,0,1,2.42,8.18,22.1,22.1,0,0,1-3.27,8.13,58.26,58.26,0,0,1-21.58,21.36c-9,4.9-17.61,7.28-27.65,5.43"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-2"
                  d="M1013.51,520.92a270.86,270.86,0,0,1,5.74-30.57c.65-2.68,1.28-5.33,1.91-7.93s1.27-5.19,2-7.68a134.38,134.38,0,0,1,5.26-14c1.88-4.39,3.83-8.48,5.68-12.29s3.67-7.33,5.44-10.46a106.88,106.88,0,0,1,9.49-14.16c1.25-1.58,2.25-2.78,3-3.57l.79-.91a2.44,2.44,0,0,1,.28-.29,1.88,1.88,0,0,1-.24.33l-.75.94c-.66.82-1.64,2-2.86,3.63a114.2,114.2,0,0,0-9.31,14.22c-1.76,3.14-3.53,6.66-5.37,10.48s-3.77,7.91-5.64,12.29a136.78,136.78,0,0,0-5.2,14c-.76,2.47-1.38,5-2,7.64s-1.26,5.26-1.91,7.93A278.1,278.1,0,0,0,1014,521"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-2"
                  d="M1023.35,474.7a7.07,7.07,0,0,1-.5-1.23c-.3-.79-.69-2-1.15-3.41-.92-2.9-2.06-6.95-3.3-11.41s-2.44-8.49-3.4-11.36c-.48-1.44-.88-2.61-1.17-3.4a5.82,5.82,0,0,1-.38-1.27,6.25,6.25,0,0,1,.58,1.19c.35.77.81,1.92,1.34,3.34,1.06,2.86,2.32,6.87,3.56,11.35s2.31,8.4,3.15,11.44c.38,1.38.71,2.54,1,3.47A5.44,5.44,0,0,1,1023.35,474.7Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-2"
                  d="M1060.49,461a7.51,7.51,0,0,1-1.5.44c-1,.26-2.37.62-4.09,1.12-3.45,1-8.17,2.48-13.3,4.38s-9.69,3.82-13,5.31c-1.63.73-2.94,1.36-3.85,1.79a9,9,0,0,1-1.44.62,7.92,7.92,0,0,1,1.34-.82c.88-.49,2.17-1.17,3.79-1.95,3.23-1.58,7.79-3.57,12.93-5.48a139,139,0,0,1,13.38-4.24c1.74-.45,3.17-.75,4.15-.94A8.57,8.57,0,0,1,1060.49,461Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-2"
                  d="M1013.86,520.14s-.13-.14-.34-.43-.54-.76-.89-1.27c-.77-1.12-1.84-2.75-3.14-4.79-2.59-4.08-6-9.83-9.67-16.23s-7-12.17-9.52-16.29l-3-4.89c-.32-.53-.59-1-.8-1.33s-.27-.47-.25-.49a2.61,2.61,0,0,1,.34.43l.89,1.27c.77,1.12,1.84,2.75,3.13,4.79,2.6,4.08,6,9.83,9.67,16.23s7,12.17,9.53,16.3l3,4.88.8,1.33C1013.79,520,1013.88,520.12,1013.86,520.14Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-2"
                  d="M1062,495.09a2.15,2.15,0,0,1-.47.3l-1.4.74c-1.29.68-3,1.59-5.16,2.69-4.35,2.28-10.33,5.49-16.93,9s-12.62,6.72-17,8.9c-2.2,1.09-4,2-5.24,2.53l-1.44.65a2.32,2.32,0,0,1-.52.2,1.86,1.86,0,0,1,.47-.3l1.4-.75,5.15-2.69c4.36-2.27,10.34-5.48,16.94-9s12.61-6.71,17-8.89c2.2-1.1,4-2,5.24-2.53l1.44-.66A2,2,0,0,1,1062,495.09Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-3"
                  d="M885.73,318.32S873.85,320,880.52,346s12.33,39.44,12.33,39.44.9,5.89-3.85,5.71-14.44-4-17.73,1.09c-3.41,5.32-.43,11.72,7,18.43s23.24,22,24.66,23.39,2.45,4.25-.8,4.64-26.39-2.32-27,8.73,23.2,26.33,25.78,28.05,3,3.06,2.4,4.56-8.27-.15-14.88-.66-14.36.08-14.19,6.48,12.68,22.6,49.19,34.64L940.72,525l12.78-12.58c25.69-28.59,28.51-48.86,25.47-54.5s-10.05-2.29-15.53,1.43-11.34,9-12.59,8-1.56-2.38-.18-5.15,14.47-27.87,8.43-37.15-24.76,4.57-27.78,5.85-3.54-1.76-3-3.63,6.64-23,9.78-32.55,2.53-16.57-3.07-19.49c-5.4-2.81-11.89,5.35-15.92,7.87s-6.18-3-6.18-3-1.76-14.45-8.9-40.35-18.53-21.26-18.53-21.26"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-2"
                  d="M940.7,529.26c-5.17-19-13.79-53-21.34-82.19s-14.42-55.51-19.49-74.57l-6-22.58c-.71-2.64-1.26-4.71-1.64-6.13-.17-.69-.31-1.22-.41-1.6s-.12-.55-.12-.55.07.17.18.53.26.91.46,1.59c.4,1.42,1,3.47,1.74,6.11,1.5,5.31,3.62,13,6.2,22.52,5.17,19,12.09,45.41,19.64,74.54s16.12,63.16,21.19,82.22"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-2"
                  d="M884.61,398.17a6.23,6.23,0,0,1,1.13.61c.72.42,1.74,1.06,3,1.86,2.5,1.61,5.88,3.92,9.58,6.53l9.42,6.72,2.87,2a5.32,5.32,0,0,1,1,.79,6.46,6.46,0,0,1-1.14-.61c-.71-.42-1.73-1.06-3-1.87-2.48-1.64-5.83-4-9.52-6.6L888.51,401l-2.88-2A5.87,5.87,0,0,1,884.61,398.17Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-2"
                  d="M913.05,415.85c-.12-.08,4.32-7.28,9.94-16.06s10.27-15.85,10.4-15.77-4.32,7.28-9.93,16.07S913.18,415.93,913.05,415.85Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-2"
                  d="M922.63,461.13a6.35,6.35,0,0,1,1-.92l2.7-2.36c2.27-2,5.4-4.76,8.74-7.94s6.27-6.15,8.37-8.32l2.5-2.58a6.47,6.47,0,0,1,1-.9,5.81,5.81,0,0,1-.8,1.05c-.55.65-1.35,1.57-2.37,2.69-2,2.25-4.93,5.28-8.28,8.46s-6.53,5.92-8.87,7.84c-1.17,1-2.13,1.72-2.81,2.23A5.92,5.92,0,0,1,922.63,461.13Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-2"
                  d="M893.38,450.8a4.9,4.9,0,0,1,1.19.29l3.16,1c2.67.84,6.33,2.05,10.37,3.42s7.69,2.64,10.33,3.58l3.1,1.15a5.71,5.71,0,0,1,1.12.49,5.36,5.36,0,0,1-1.19-.28l-3.16-1c-2.66-.85-6.33-2.06-10.37-3.43s-7.69-2.64-10.32-3.58l-3.11-1.15A5.05,5.05,0,0,1,893.38,450.8Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-2"
                  d="M896.76,491.84a10,10,0,0,1,1.51.39l4.06,1.24c3.42,1.07,8.14,2.58,13.33,4.28s9.89,3.28,13.28,4.45l4,1.4a8.49,8.49,0,0,1,1.44.59,7.94,7.94,0,0,1-1.51-.38l-4.06-1.24c-3.42-1.07-8.13-2.58-13.33-4.29s-9.89-3.28-13.28-4.44l-4-1.41A7.91,7.91,0,0,1,896.76,491.84Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-2"
                  d="M933.58,503.64a8.94,8.94,0,0,1,1.17-1.19l3.31-3.11c2.79-2.63,6.63-6.28,10.76-10.43s7.78-8,10.39-10.8l3.11-3.32a10.17,10.17,0,0,1,1.18-1.18,8.27,8.27,0,0,1-1,1.32c-.69.83-1.7,2-3,3.44-2.54,2.88-6.15,6.78-10.29,10.93s-8,7.77-10.89,10.33c-1.43,1.27-2.6,2.3-3.43,3A9.94,9.94,0,0,1,933.58,503.64Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-1"
                  d="M834.14,163.15l-9.76-3.05s-2.56,8.2-11.12,5.69a8.28,8.28,0,0,1-6.08-7.43,9.19,9.19,0,0,1,3.17-7.69c2.5-2.21,6.9-3.56,13.12-.35l6.86-22-9.65-3-4,12.89s-14.62-.73-19.28,14.19c-4.45,14.27,7.32,21.58,12.79,23.29C814.36,177,829,180.42,834.14,163.15Z"
                  transform="translate(-761.57 -111.59)"/>
            <rect class="cls-1" x="823.18" y="112.9" width="10.26" height="9.58"
                  transform="translate(822.41 365.13) rotate(-162.67)"/>
            <path class="cls-3"
                  d="M861.07,138.3l3.91-1a3.43,3.43,0,0,1,2.53-4.24,3.28,3.28,0,0,1,3.59,1.21,3.61,3.61,0,0,1,.56,3.24c-.38,1.27-1.57,2.65-4.32,2.88l2.32,8.81,3.87-1L872.16,143a7.81,7.81,0,0,0,3.48-8.8c-1.51-5.72-7-5.69-9.18-5.12C864.79,129.52,859.18,131.43,861.07,138.3Z"
                  transform="translate(-761.57 -111.59)"/>
            <rect class="cls-3" x="870.55" y="150.41" width="4.06" height="3.79"
                  transform="matrix(0.97, -0.26, 0.26, 0.97, -771.55, 116)"/>
            <path class="cls-3"
                  d="M1183.88,239.51l3.8,1.38a3.43,3.43,0,0,1,4.49-2,3.26,3.26,0,0,1,2.27,3,3.61,3.61,0,0,1-1.39,3c-1,.83-2.79,1.28-5.19-.1l-3.1,8.57,3.76,1.36,1.82-5a7.79,7.79,0,0,0,7.86-5.26c2-5.56-2.5-8.65-4.63-9.43C1191.94,234.4,1186.24,232.79,1183.88,239.51Z"
                  transform="translate(-761.57 -111.59)"/>
            <rect class="cls-3" x="1183.34" y="255.68" width="4.06" height="3.79"
                  transform="translate(-602.95 -499.94) rotate(19.91)"/>
            <path class="cls-1"
                  d="M780.59,283l8-3.1s-2.6-6.75,4.37-9.58a7,7,0,0,1,7.91,1.73,7.7,7.7,0,0,1,1.93,6.73c-.5,2.78-2.7,6-8.48,7.11l7,18.13,7.95-3.06-4.09-10.63s10-7.18,5.31-19.47c-4.53-11.76-16.13-10.43-20.64-8.69C786.41,263.54,775,268.91,780.59,283Z"
                  transform="translate(-761.57 -111.59)"/>
            <rect class="cls-1" x="803.92" y="305.98" width="8.65" height="8.08"
                  transform="translate(-818.98 199.69) rotate(-21.07)"/>
            <path class="cls-1"
                  d="M1187,313.55l-5.7,2.19s1.84,4.79-3.1,6.79a5,5,0,0,1-5.6-1.22,5.48,5.48,0,0,1-1.37-4.78c.35-2,1.91-4.23,6-5l-5-12.85-5.63,2.17,2.9,7.53a11.79,11.79,0,0,0-3.76,13.8c3.21,8.33,11.43,7.39,14.63,6.15C1182.88,327.36,1191,323.56,1187,313.55Z"
                  transform="translate(-761.57 -111.59)"/>
            <rect class="cls-1" x="1164.35" y="291.57" width="6.13" height="5.72"
                  transform="translate(1601.06 37.91) rotate(158.93)"/>
        </g>
        <g id="Floor">
            <path class="cls-4"
                  d="M1203.11,534.68c0,.14-98.85.26-220.76.26s-220.78-.12-220.78-.26,98.82-.26,220.78-.26S1203.11,534.54,1203.11,534.68Z"
                  transform="translate(-761.57 -111.59)"/>
        </g>
        <g id="Plant">
            <path :style="style"
                  d="M825,508.71c.95-3.68-1.46-7.37-4.16-10s-5.94-5.06-7.34-8.58c-2.28-5.72.78-13.12-3.11-17.89-2.28-2.8-6.38-3.74-8.41-6.74a15.22,15.22,0,0,1-1.83-5.36,54.42,54.42,0,0,0-13.53-25.31,47.22,47.22,0,0,0,5.31,24.4c1.57,3,3.51,5.92,4,9.26.84,5.44-2.19,11-.85,16.37,1.52,6.1,8.38,10.19,8.7,16.47.28,5.31-4.35,10-4,15.27a14.35,14.35,0,0,0,2.37,6.3c4.1,6.83,10.13,11.53,19.27,11.38l11.2.39Z"
                  transform="translate(-761.57 -111.59)"/>
            <g class="cls-6">
                <path
                    d="M825,508.71c.95-3.68-1.46-7.37-4.16-10s-5.94-5.06-7.34-8.58c-2.28-5.72.78-13.12-3.11-17.89-2.28-2.8-6.38-3.74-8.41-6.74a15.22,15.22,0,0,1-1.83-5.36,54.42,54.42,0,0,0-13.53-25.31,47.22,47.22,0,0,0,5.31,24.4c1.57,3,3.51,5.92,4,9.26.84,5.44-2.19,11-.85,16.37,1.52,6.1,8.38,10.19,8.7,16.47.28,5.31-4.35,10-4,15.27a14.35,14.35,0,0,0,2.37,6.3c4.1,6.83,10.13,11.53,19.27,11.38l11.2.39Z"
                    transform="translate(-761.57 -111.59)"/>
            </g>
            <path class="cls-4"
                  d="M834.88,534.92a8.84,8.84,0,0,0,3.08-.07,18.32,18.32,0,0,0,3.64-.91,15.68,15.68,0,0,0,4.5-2.46,6.29,6.29,0,0,0,1.84-2.47,11.34,11.34,0,0,0,.53-3.34,32.46,32.46,0,0,1,.26-3.62,10,10,0,0,1,1.37-3.6c1.32-2.32,3.51-4.52,4.22-7.67s.22-6.45-.3-9.81-1-7,.26-10.52,3.65-6.67,4.88-10.61.66-8.28.91-12.51a16.69,16.69,0,0,1,1.46-6.22c.91-2,2.17-3.85,3.15-5.94,2-4.21,2.33-9,2.88-13.68q.39-3.54.8-7.16a34.76,34.76,0,0,1,1.25-7.16,64.08,64.08,0,0,1,2.67-6.93,21.85,21.85,0,0,0,1.3-3.62,36.3,36.3,0,0,0,.37-3.85,46.83,46.83,0,0,0-.3-7.75c-.31-2.58-.77-5.14-1-7.73,0-.16,0-.31-.05-.45l-.06-.52-.46.23a17.29,17.29,0,0,0-6,5.09,27.44,27.44,0,0,0-3.7,6.83c-1.87,4.81-2.54,9.85-3.49,14.66s-2.13,9.54-4.6,13.54c-1.22,2-2.71,3.82-4,5.76a16.06,16.06,0,0,0-2.78,6.38c-.66,4.74,2,8.9,1.41,13.1a14.66,14.66,0,0,1-2.05,5.81c-1,1.79-2.21,3.44-3.34,5.11a33.61,33.61,0,0,0-3,5.17,16.48,16.48,0,0,0-1.37,5.61c-.28,3.78.26,7.36,0,10.74a24.56,24.56,0,0,1-2.76,9.21c-1.35,2.75-2.86,5.24-4.12,7.66a37.2,37.2,0,0,0-1.7,3.57,17.22,17.22,0,0,0-1,3.54,22.59,22.59,0,0,0-.09,6.39,16.14,16.14,0,0,0,3.21,8.15,8,8,0,0,0,.9,1,5,5,0,0,0,.74.62c.42.31.64.45.64.45a14.57,14.57,0,0,1-2.17-2.14,16.28,16.28,0,0,1-3-8.1,22.46,22.46,0,0,1,.14-6.3,17.61,17.61,0,0,1,1-3.45c.48-1.16,1.07-2.33,1.71-3.53,1.27-2.39,2.8-4.87,4.18-7.64a25.19,25.19,0,0,0,2.86-9.37c.29-3.45-.23-7.05.06-10.73a15.77,15.77,0,0,1,1.35-5.43,32.62,32.62,0,0,1,3-5.06c1.13-1.66,2.34-3.32,3.39-5.15a15.16,15.16,0,0,0,2.14-6c.54-4.47-2.05-8.65-1.38-13.06a15,15,0,0,1,2.68-6.1c1.28-1.91,2.77-3.73,4-5.78,2.54-4.11,3.78-8.94,4.71-13.77s1.62-9.82,3.46-14.54a26.58,26.58,0,0,1,3.61-6.64,16.5,16.5,0,0,1,5.77-4.88l-.52-.29c0,.15,0,.3,0,.46.29,2.62.75,5.18,1,7.74a44.37,44.37,0,0,1,.3,7.63,37.37,37.37,0,0,1-.34,3.74,24,24,0,0,1-1.26,3.49,63.18,63.18,0,0,0-2.7,7,35.6,35.6,0,0,0-1.26,7.28q-.4,3.62-.79,7.16c-.54,4.71-.89,9.41-2.8,13.48-1,2-2.2,3.91-3.14,5.95a17.3,17.3,0,0,0-1.5,6.45c-.24,4.32.32,8.55-.85,12.37s-3.6,7-4.84,10.6-.77,7.44-.24,10.78,1.09,6.66.37,9.63-2.78,5.19-4.13,7.57a10.56,10.56,0,0,0-1.39,3.75,33.75,33.75,0,0,0-.23,3.66,11.55,11.55,0,0,1-.48,3.26,6,6,0,0,1-1.74,2.35,15.47,15.47,0,0,1-4.38,2.48,19.39,19.39,0,0,1-3.59,1,13.77,13.77,0,0,1-2.28.22C835.15,534.91,834.88,534.92,834.88,534.92Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-4"
                  d="M870.26,403a1.2,1.2,0,0,0-.11.33c-.06.27-.15.6-.25,1-.22.88-.48,2.22-.9,3.88s-1.46,3.53-2.33,5.85S864.86,419,864,422s-1.61,6.3-2.4,9.85S860,439.22,858,442.81c-.92,1.82-1.95,3.66-2.78,5.67a26.7,26.7,0,0,0-1.61,6.43,131,131,0,0,1-2.41,13.55c-2.25,9.17-4.39,17.91-6.33,25.87s-3.79,15.08-5.31,21.1-2.67,10.82-3.52,14.24c-.39,1.65-.69,2.94-.92,3.89l-.22,1a1.85,1.85,0,0,0,0,.35,1.68,1.68,0,0,0,.12-.33c.08-.27.18-.59.29-1,.26-.93.61-2.22,1.06-3.85.89-3.4,2.17-8.23,3.73-14.18l5.46-21.07c2-8,4.12-16.7,6.39-25.88a127.17,127.17,0,0,0,2.41-13.6,25.71,25.71,0,0,1,1.55-6.27c.79-2,1.81-3.79,2.73-5.63,2-3.66,2.79-7.57,3.57-11.11s1.49-6.86,2.31-9.84,1.69-5.64,2.55-7.94,1.81-4.2,2.22-5.92.6-3,.78-3.92c.07-.41.13-.75.17-1A1.33,1.33,0,0,0,870.26,403Z"
                  transform="translate(-761.57 -111.59)"/>
            <path :style="style"
                  d="M836.86,535c7.31-4.35,9.41-17.55,6.36-25.49s-8.39-15.2-9.22-23.67c-.63-6.51,1.5-13.19,0-19.55-2-8.59-10.43-15.24-10.34-24.07.06-4.95,2.88-9.61,2.65-14.56-.27-6.06-4.93-10.88-7.82-16.23-4.41-8.18-4.7-17.85-6.21-27s-5-19-13.14-23.51c-1.2,7.79-3.25,13.13-2.61,23.68.23,3.79,4.63,11,5.23,19.35.36,5,.61,9.94.91,14.9s.61,9.76,2.34,14.28c1.33,3.47,3.47,6.62,4.45,10.2,1.86,6.73-.58,14,.92,20.84,1.27,5.78,5.27,10.75,6.08,16.61,1.15,8.23-4.18,16.79-1.45,24.64,1.35,3.9,4.56,7,5.47,11,.7,3.12-.07,6.43.57,9.56,1,5.06,10.67,9,15.82,8.67"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-4"
                  d="M801.14,368.58a2.05,2.05,0,0,0,0,.44c0,.33.09.75.16,1.28.17,1.13.36,2.78.74,4.92s1.51,4.56,2.4,7.48,1.86,6.26,2.68,10,1.53,7.91,2.27,12.38,1.53,9.34,3.74,14c1,2.34,2.18,4.68,3.05,7.18a32.35,32.35,0,0,1,1.54,7.9,160.91,160.91,0,0,0,2.14,17c2.24,11.54,4.38,22.53,6.32,32.54s3.89,18.94,5.44,26.5l3.73,17.86,1.05,4.85c.12.52.22.93.29,1.25a1.93,1.93,0,0,0,.13.43,2.79,2.79,0,0,0-.05-.44c-.06-.33-.13-.74-.22-1.27-.22-1.16-.53-2.8-.92-4.88-.84-4.27-2-10.38-3.51-17.9s-3.3-16.56-5.29-26.53-4-21-6.26-32.54a161.54,161.54,0,0,1-2.15-17,32.83,32.83,0,0,0-1.6-8.06c-.89-2.55-2.05-4.89-3.08-7.21-2.2-4.59-3-9.38-3.77-13.83s-1.48-8.63-2.35-12.39-1.83-7.12-2.8-10-2.07-5.32-2.51-7.41-.65-3.77-.87-4.88c-.09-.52-.17-.94-.23-1.27A1.67,1.67,0,0,0,801.14,368.58Z"
                  transform="translate(-761.57 -111.59)"/>
        </g>
        <g id="Speech_Bubble" data-name="Speech Bubble">
            <path :style="style"
                  d="M1153.81,159.68h-4a3.38,3.38,0,0,1-3.47,3.4,3.21,3.21,0,0,1-3.12-2.05,3.59,3.59,0,0,1,.28-3.23c.68-1.11,2.16-2.12,4.84-1.65v-9h-3.94v5.25a7.69,7.69,0,0,0-5.52,7.52c0,5.82,5.22,7.17,7.46,7.17C1148.06,167.12,1153.89,166.71,1153.81,159.68Z"
                  transform="translate(-761.57 -111.59)"/>
            <rect :style="style" x="1144.37" y="141.6" width="3.99" height="3.73"
                  transform="translate(1531.18 175.33) rotate(180)"/>
            <path class="cls-4"
                  d="M1175.61,154.36a2.45,2.45,0,0,0,0-.51c0-.36,0-.85,0-1.48,0-.32,0-.69,0-1.09s-.12-.84-.18-1.31-.14-1-.22-1.52-.28-1.1-.42-1.7a27.74,27.74,0,0,0-3.6-8.25,29.59,29.59,0,0,0-8.31-8.54,29.91,29.91,0,0,0-13.58-4.84,29.4,29.4,0,0,0-4-.08c-.68,0-1.36,0-2,.13l-2.06.31a29.58,29.58,0,0,0-8.12,2.77,31.52,31.52,0,0,0-7.3,5.31,30.67,30.67,0,0,0-5.49,7.64,28,28,0,0,0-2.86,9.31,18.72,18.72,0,0,0-.21,2.49,23.32,23.32,0,0,0,0,2.51,29.69,29.69,0,0,0,.63,5,29.38,29.38,0,0,0,4.22,10l0-.3c-1.4,3.47-2.76,6.88-4.1,10.2l-.24.61.63-.18,10.9-3-.27,0a29.28,29.28,0,0,0,12.46,5.45,26.16,26.16,0,0,0,6.39.39,19.23,19.23,0,0,0,3.06-.29l1.5-.23c.49-.09,1-.24,1.44-.35a29.16,29.16,0,0,0,16.59-11.39,27.89,27.89,0,0,0,3.58-6.77c.18-.53.37-1,.54-1.52s.25-1,.37-1.45.22-.91.33-1.33.12-.83.18-1.22c.1-.77.23-1.45.26-2s0-1.08,0-1.5,0-.68,0-.91a1.43,1.43,0,0,0,0-.31,1.43,1.43,0,0,0,0,.31c0,.23,0,.53-.07.91s-.06.91-.1,1.49-.2,1.26-.31,2a29,29,0,0,1-21.52,23.19c-.47.12-.93.26-1.42.35l-1.46.22a19.93,19.93,0,0,1-3,.27,26.12,26.12,0,0,1-6.26-.42,28.65,28.65,0,0,1-12.19-5.36l-.12-.1-.15,0-10.91,3,.38.43,4.11-10.19.06-.16-.09-.15a28.66,28.66,0,0,1-4.74-14.71,22.22,22.22,0,0,1,0-2.45,17.84,17.84,0,0,1,.21-2.43,27.2,27.2,0,0,1,2.78-9.11,30.39,30.39,0,0,1,5.36-7.49,31,31,0,0,1,7.13-5.21,29,29,0,0,1,8-2.74l2-.31c.67-.1,1.34-.09,2-.14a28.39,28.39,0,0,1,3.92.07,28.78,28.78,0,0,1,21.63,13,27.91,27.91,0,0,1,3.66,8.11c.16.6.3,1.16.45,1.69s.17,1,.24,1.5.15.9.22,1.3.05.76.08,1.08c0,.62.08,1.11.1,1.47A3.34,3.34,0,0,0,1175.61,154.36Z"
                  transform="translate(-761.57 -111.59)"/>
        </g>
        <g id="Question_Mark" data-name="Question Mark">
            <path :style="style"
                  d="M877.4,272.29h57.76s0-48.49,50.39-49.36c26.17-.45,39.74,16.7,45.25,29.83,6.41,15.25,4.47,32.63-4.11,46.78-9.79,16.15-30.89,32.38-69.81,25.52l-.37,128.67h57.1V377.45s80.1-20.71,80.1-109c0-84.45-68.3-102.69-105-103.87-20.42-.65-27.83-1.53-53.09,2.06C903.43,171.24,876.72,208.62,877.4,272.29Z"
                  transform="translate(-761.57 -111.59)"/>
            <rect :style="style" x="194.78" y="368.96" width="57.96" height="54.13"/>
            <rect class="cls-7" x="194.78" y="368.96" width="57.96" height="54.13"/>
            <path class="cls-7"
                  d="M877.4,272.29h57.76s0-48.49,50.39-49.36c26.17-.45,39.74,16.7,45.25,29.83,6.41,15.25,4.47,32.63-4.11,46.78-9.79,16.15-30.89,32.38-69.81,25.52l-.37,128.67h57.1V377.45s80.1-20.71,80.1-109c0-84.45-68.3-102.69-105-103.87-20.42-.65-27.83-1.53-53.09,2.06C903.43,171.24,876.72,208.62,877.4,272.29Z"
                  transform="translate(-761.57 -111.59)"/>
            <path :style="style"
                  d="M853.48,272.29h57.75s0-48.49,50.4-49.36c26.17-.45,39.74,16.7,45.25,29.83,6.4,15.25,4.47,32.63-4.11,46.78-9.8,16.15-31.26,30.83-70.18,24V453.73h57.1V377.45s80.09-20.71,80.09-109c0-84.45-75.73-104.07-108.15-104.07C936.84,164.41,852.39,170.41,853.48,272.29Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-8"
                  d="M853.48,272.29h57.75s0-48.49,50.4-49.36c26.17-.45,39.74,16.7,45.25,29.83,6.4,15.25,4.47,32.63-4.11,46.78-9.8,16.15-31.26,30.83-70.18,24V453.73h57.1V377.45s80.09-20.71,80.09-109c0-84.45-75.73-104.07-108.15-104.07C936.84,164.41,852.39,170.41,853.48,272.29Z"
                  transform="translate(-761.57 -111.59)"/>
            <rect :style="style" x="170.86" y="368.96" width="57.96" height="54.13"/>
            <rect class="cls-8" x="170.86" y="368.96" width="57.96" height="54.13"/>
            <path class="cls-4"
                  d="M968.15,223.2a5,5,0,0,1-.86,0c-.57,0-1.39-.19-2.47-.2a49.81,49.81,0,0,0-9.05.38,64.18,64.18,0,0,0-13.07,3.07,55.94,55.94,0,0,0-7.29,3.13,39,39,0,0,0-7.12,4.62,34.87,34.87,0,0,0-5.83,6.16,58.06,58.06,0,0,0-4.37,6.62,58.66,58.66,0,0,0-5.17,12.38,49.44,49.44,0,0,0-1.74,8.9c-.12,1.06-.16,1.9-.18,2.46a6,6,0,0,1-.08.86,4.78,4.78,0,0,1,0-.86c0-.57,0-1.41.09-2.48a46.58,46.58,0,0,1,1.58-9,57.68,57.68,0,0,1,5.11-12.52,58.4,58.4,0,0,1,4.38-6.69,35.1,35.1,0,0,1,5.91-6.25,38.76,38.76,0,0,1,7.22-4.67,54.63,54.63,0,0,1,7.36-3.13,62.82,62.82,0,0,1,13.19-3,46,46,0,0,1,9.11-.21,21.56,21.56,0,0,1,2.46.3A6.66,6.66,0,0,1,968.15,223.2Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-4"
                  d="M1055.17,212.89s-.08-.07-.19-.23l-.51-.69c-.45-.65-1.09-1.55-1.9-2.7-.41-.58-.85-1.25-1.37-1.94l-1.81-2.19q-1-1.19-2.07-2.52c-.75-.87-1.62-1.72-2.5-2.65s-1.79-1.92-2.8-2.88-2.12-1.91-3.23-2.92c-.56-.49-1.11-1-1.71-1.52l-1.86-1.47c-1.27-1-2.53-2-3.91-3A125.09,125.09,0,0,0,1012.39,177l-5.27-2.38-5.24-2c-1.7-.7-3.44-1.2-5.12-1.76s-3.32-1.13-5-1.52L987,168c-1.55-.41-3.09-.66-4.56-1s-2.89-.64-4.28-.81l-4-.58c-2.52-.43-4.84-.52-6.87-.72-1-.08-2-.19-2.82-.23l-2.39-.07-3.29-.1-.86,0a1.16,1.16,0,0,1-.3,0,1.16,1.16,0,0,1,.3,0h4.16l2.39,0c.87,0,1.82.12,2.83.19,2,.17,4.36.23,6.9.65l4,.54c1.4.16,2.82.52,4.3.79s3,.55,4.58,1l4.81,1.24c1.66.38,3.29,1,5,1.51s3.44,1,5.15,1.76l5.26,2,5.29,2.39a122.67,122.67,0,0,1,19,11.26c1.37,1,2.63,2.07,3.9,3.06l1.86,1.48c.6.5,1.15,1,1.72,1.54l3.22,3c1,1,1.9,2,2.79,2.91s1.74,1.8,2.48,2.69l2,2.55,1.77,2.22c.52.7.94,1.38,1.35,2l1.82,2.75.46.73Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-4"
                  d="M1049.15,336.89a5.53,5.53,0,0,1-.44.6c-.33.42-.78,1-1.33,1.65s-1.3,1.59-2.18,2.57-1.84,2.11-3,3.28-2.39,2.5-3.81,3.84-2.94,2.73-4.56,4.19a138.51,138.51,0,0,1-11.22,8.72,137,137,0,0,1-12.14,7.39c-1.94,1-3.78,2-5.55,2.77s-3.41,1.56-4.93,2.2-2.92,1.17-4.15,1.64-2.29.84-3.17,1.13l-2,.65a3.52,3.52,0,0,1-.71.2,3.57,3.57,0,0,1,.68-.3l2-.74c.86-.32,1.92-.71,3.13-1.21s2.61-1,4.1-1.71,3.16-1.38,4.9-2.25,3.57-1.8,5.5-2.81a141.2,141.2,0,0,0,12.07-7.39c4.13-2.87,7.89-5.83,11.2-8.65,1.63-1.44,3.2-2.79,4.59-4.15s2.69-2.59,3.84-3.77,2.16-2.27,3-3.23,1.65-1.8,2.25-2.5l1.4-1.59A3.72,3.72,0,0,1,1049.15,336.89Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-4"
                  d="M988.68,449.19c-.14,0-.26-16.06-.26-35.87s.12-35.88.26-35.88.26,16.06.26,35.88S988.83,449.19,988.68,449.19Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-4"
                  d="M990.88,531c-.14,0-.26-11.27-.26-25.17s.12-25.18.26-25.18.26,11.27.26,25.18S991,531,990.88,531Z"
                  transform="translate(-761.57 -111.59)"/>
        </g>
        <g id="Character">
            <path :style="style"
                  d="M1047.74,264.62c-1,2,2.72,3.64,4.88,4.29a19.58,19.58,0,0,0,6.7.46c3-.16,6.07-.44,8.66-1.92a13.73,13.73,0,0,0,5.22-5.86,40.79,40.79,0,0,0,2.65-7.48S1052.23,255.65,1047.74,264.62Z"
                  transform="translate(-761.57 -111.59)"/>
            <g class="cls-9">
                <path
                    d="M1047.74,264.62c-1,2,2.72,3.64,4.88,4.29a19.58,19.58,0,0,0,6.7.46c3-.16,6.07-.44,8.66-1.92a13.73,13.73,0,0,0,5.22-5.86,40.79,40.79,0,0,0,2.65-7.48S1052.23,255.65,1047.74,264.62Z"
                    transform="translate(-761.57 -111.59)"/>
            </g>
            <path :style="style"
                  d="M1114.48,258.22a22.68,22.68,0,0,0,13.34,4.18c2.27,0,4.67-.46,6.35-2,.77-.7,1.34-1.6,2.14-2.28.54-.46,1.17-.81,1.67-1.3a2.15,2.15,0,0,0,.74-1.9,4,4,0,0,0-1.38-2.21c-2.72-1.54-5.95-1.48-9.07-1.41a31.21,31.21,0,0,0-9.15,1.79c-2.42.82-5,2-6.18,4.2"
                  transform="translate(-761.57 -111.59)"/>
            <g class="cls-9">
                <path
                    d="M1138.72,254.92a4.2,4.2,0,0,0-1.77-2c-2.72-1.54-5.56-1.68-8.68-1.61a31.21,31.21,0,0,0-9.15,1.79c-2.42.82-5,2-6.18,4.2l1.54.93a22.68,22.68,0,0,0,13.34,4.18c2.27,0,4.67-.46,6.35-2,.77-.7,1.34-1.6,2.14-2.28.54-.46,1.17-.81,1.67-1.3A2.15,2.15,0,0,0,1138.72,254.92Z"
                    transform="translate(-761.57 -111.59)"/>
            </g>
            <path :style="style"
                  d="M1068.36,294.11l49.85.65a.63.63,0,0,0,.62-.83L1113,275.69s.86-9.12,2-20.08c1.81-16.65,4.21-37.58,4.24-37.52-3.4-9.56-23.52-11.19-23.52-11.19l-22.93,1.37-.81-1.35-6.6,3.07a30.13,30.13,0,0,0-4.14,2.34c-4.35,2.91-14.86,9.6-16.77,17-4.43,17.24,3.07,36.5,3.07,36.5l4.81-3.77a35.75,35.75,0,0,1,3.82-2.55l9.66,25.89a4.54,4.54,0,0,0-2.09,3.32c-.09,2.1,1,4.62,4.59,5.34"
                  transform="translate(-761.57 -111.59)"/>
            <g class="cls-6">
                <path
                    d="M1089.73,263.59c1.58-8.5.74-17.24-.1-25.84-2.77,7-2.67,15-5.6,21.94a10.15,10.15,0,0,0-.78,2.31,2.6,2.6,0,0,0,.67,2.26c.8.73,2,.33,3,.21a11.87,11.87,0,0,0,2.76-.88"
                    transform="translate(-761.57 -111.59)"/>
            </g>
            <g class="cls-9">
                <path
                    d="M1071.36,283.26c4,1.4,8.26-1.19,12.5-1.65,2.79-.3,5.6.34,8.37.79a62.87,62.87,0,0,0,17,.42,6.52,6.52,0,0,0,2.51-.65,3,3,0,0,0,1.3-2.48c-9.41-1-18.83-1.54-28.24-2.51a17.63,17.63,0,0,0-7.06.23c-2.85.88-5,3.11-7,5.32"
                    transform="translate(-761.57 -111.59)"/>
            </g>
            <path :style="style"
                  d="M1137.28,251.62c-4.07-9.16-18.42-34.52-18.42-34.52L1107.74,231l2.6,27.35s5.86-6.55,22.27-6.68a8,8,0,0,1,6.11,3.22Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-4"
                  d="M1070.56,246.78a39.68,39.68,0,0,1-1.87-6,38.37,38.37,0,0,1-1.37-6.12,37.9,37.9,0,0,1,1.87,6A37.34,37.34,0,0,1,1070.56,246.78Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-4"
                  d="M1106.9,229.18a5.84,5.84,0,0,1,1,.87,30.45,30.45,0,0,1,2.48,2.72,26.28,26.28,0,0,1,5.3,10.86,20.24,20.24,0,0,1,.32,6.7c-.26,2-.65,3.85-.9,5.37s-.42,2.76-.5,3.62a9.38,9.38,0,0,1-.14,1.33,5.31,5.31,0,0,1-.06-1.35,32.22,32.22,0,0,1,.34-3.66c.2-1.53.56-3.35.79-5.37a20.66,20.66,0,0,0-.36-6.53,27.43,27.43,0,0,0-5.08-10.74C1108.27,230.54,1106.83,229.25,1106.9,229.18Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-4"
                  d="M1096.72,291.93a4.08,4.08,0,0,1-1.08.32,11.64,11.64,0,0,1-1.3.25c-.51.07-1.1.18-1.75.21a26,26,0,0,1-4.58,0,29.73,29.73,0,0,1-5.5-1.1,30.68,30.68,0,0,1-5.16-2.21,27.08,27.08,0,0,1-3.78-2.57c-.52-.4-.94-.82-1.32-1.17a10.09,10.09,0,0,1-.93-.94,4.68,4.68,0,0,1-.72-.88c.08-.07,1.15,1.13,3.19,2.7a30.17,30.17,0,0,0,3.79,2.44,32.31,32.31,0,0,0,5.09,2.13,31.24,31.24,0,0,0,5.39,1.12,29.74,29.74,0,0,0,4.51.14C1095.14,292.21,1096.7,291.83,1096.72,291.93Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-4"
                  d="M1112.12,286.23a3.4,3.4,0,0,1,.38,1.46,9,9,0,0,1-.26,3.64,6.37,6.37,0,0,1-2,3.1,2.76,2.76,0,0,1-1.32.75c0-.07.44-.38,1.07-1a7.16,7.16,0,0,0,1.71-3C1112.49,288.54,1111.92,286.24,1112.12,286.23Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-4"
                  d="M1109.41,289.75a5.42,5.42,0,0,1-2.14,5.52c-.11-.11.82-1.1,1.4-2.63S1109.25,289.76,1109.41,289.75Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-4"
                  d="M1100.48,256.85a19.93,19.93,0,0,1-1.78,2.56A21.11,21.11,0,0,1,1097,262a6.33,6.33,0,0,1,1.31-2.88A6.49,6.49,0,0,1,1100.48,256.85Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-4"
                  d="M1066.27,232.63a24.39,24.39,0,0,1-2.21-1.46,28.39,28.39,0,0,0-11.81-4.41,21.86,21.86,0,0,1-2.63-.35,9.76,9.76,0,0,1,2.67,0,24,24,0,0,1,12,4.47A9.54,9.54,0,0,1,1066.27,232.63Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-4"
                  d="M1118.86,216.77a43.23,43.23,0,0,0-5,4.73,43,43,0,0,0-3.8,5.78,6.32,6.32,0,0,1,.7-1.94,19.84,19.84,0,0,1,6.36-7.56A5.83,5.83,0,0,1,1118.86,216.77Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-4"
                  d="M1098.27,208.53s.1.15.23.46a8.92,8.92,0,0,1,.47,1.4,12.06,12.06,0,0,1,0,5.42,13.34,13.34,0,0,1-4.08,6.89,13.87,13.87,0,0,1-9.2,3.28,15.58,15.58,0,0,1-9.29-3.11,17.6,17.6,0,0,1-5.11-6.19,19.19,19.19,0,0,1-1.71-5.15c-.1-.63-.16-1.13-.18-1.46a2.92,2.92,0,0,1,0-.52c.06,0,.12.7.39,1.94a20.39,20.39,0,0,0,1.83,5,18,18,0,0,0,5.07,6,15.33,15.33,0,0,0,9,3,13.47,13.47,0,0,0,8.88-3.12,13.15,13.15,0,0,0,4-6.62,12.24,12.24,0,0,0,.18-5.29C1098.52,209.19,1098.21,208.55,1098.27,208.53Z"
                  transform="translate(-761.57 -111.59)"/>
            <g class="cls-6">
                <path
                    d="M1101.77,258.62c0-.5-.08-1.09-.51-1.34a1,1,0,0,0-.91,0,2.56,2.56,0,0,0-.72.59,12.26,12.26,0,0,0-2.67,4.28l4.9-.43C1101.83,260.71,1101.8,259.65,1101.77,258.62Z"
                    transform="translate(-761.57 -111.59)"/>
            </g>
            <g class="cls-6">
                <path
                    d="M1118.05,248.31a16.07,16.07,0,0,0-3.56-7.6c2.11,6.92,1.41,10.83.22,15.57l.25-.67C1116.33,252.84,1118.42,251.11,1118.05,248.31Z"
                    transform="translate(-761.57 -111.59)"/>
            </g>
            <polygon class="cls-10" points="346.69 369.18 343.7 414.03 324.2 413.8 321.13 367.17 346.69 369.18"/>
            <path :style="style"
                  d="M1105.82,519.72V521s22,8.84,22.22,13l-43.66-.25.68-14.53C1091.53,522.3,1098.32,522.68,1105.82,519.72Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-11"
                  d="M1089.45,523.92a1.79,1.79,0,0,0-1.25,2,1.72,1.72,0,0,0,2,1.25,1.87,1.87,0,0,0,1.31-2.15,1.77,1.77,0,0,0-2.22-1.07"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-4" d="M1084.38,533.78l.16-3.5,41.78,1.53s1.94.86,1.72,2.22Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-4"
                  d="M1106,521.14c0,.21-1.08.3-2.13,1s-1.62,1.57-1.81,1.49.12-1.32,1.41-2.12S1106,520.94,1106,521.14Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-4"
                  d="M1110.54,523.06c0,.21-.87.56-1.6,1.46s-1,1.85-1.16,1.84-.34-1.22.59-2.32S1110.54,522.86,1110.54,523.06Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-4"
                  d="M1113.11,528.55c-.19.05-.48-1,.07-2.18s1.56-1.62,1.65-1.45-.54.8-1,1.76S1113.32,528.54,1113.11,528.55Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-4"
                  d="M1104.7,152.76c1.12-2.8-.24-6.19-2.68-8a11.6,11.6,0,0,0-8.66-1.71,35,35,0,0,0-8.54,3,9.65,9.65,0,0,0-16.37,5.35,6.12,6.12,0,0,0-7.26,8l13.52,4.75,14.76,26a11.81,11.81,0,0,0,17.38-15.7,10.21,10.21,0,0,0,2.07-2.56,10.39,10.39,0,0,0,4.78-6.4C1115,159.76,1110.51,153.44,1104.7,152.76Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-10"
                  d="M1095.75,206.9c-.84-4.22-1.42-7.12-1.42-7.09s8-3.1,7.42-14.23c-.27-5.54-2.38-14.27-4.34-21.35-1.76-6.38-7.71-13.41-14-11.38l-19,9.3c-1.91.62-2.25,2.41-1.8,4.37l0,1,7.41,30.66,3.13,13.7a11.59,11.59,0,0,0,12.93,8.78h0A11.58,11.58,0,0,0,1095.75,206.9Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-4"
                  d="M1097.28,171.63a1.41,1.41,0,0,1-1,1.68,1.35,1.35,0,0,1-1.68-.95,1.42,1.42,0,0,1,1-1.68A1.35,1.35,0,0,1,1097.28,171.63Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-4"
                  d="M1096.46,169.5c-.13.22-1.34-.34-2.83,0s-2.41,1.29-2.61,1.14,0-.43.41-.87a3.86,3.86,0,0,1,2-1.14,3.67,3.67,0,0,1,2.3.25C1096.31,169.11,1096.53,169.4,1096.46,169.5Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-4"
                  d="M1082.81,175a1.4,1.4,0,0,1-1,1.67,1.35,1.35,0,0,1-1.68-.94,1.42,1.42,0,0,1,1-1.68A1.35,1.35,0,0,1,1082.81,175Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-4"
                  d="M1082.09,173c-.14.21-1.35-.34-2.83,0s-2.42,1.28-2.62,1.14,0-.43.41-.88a3.89,3.89,0,0,1,2-1.13,3.75,3.75,0,0,1,2.3.24C1081.93,172.64,1082.15,172.93,1082.09,173Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-4"
                  d="M1089.62,182.43a10.25,10.25,0,0,1,2.32-.94c.37-.12.71-.27.72-.54a1.89,1.89,0,0,0-.49-1.07l-1.72-2.66c-2.43-3.79-4.27-6.94-4.11-7s2.24,2.9,4.66,6.68l1.69,2.69a2.29,2.29,0,0,1,.51,1.45,1,1,0,0,1-.51.68,2.44,2.44,0,0,1-.63.23A9.68,9.68,0,0,1,1089.62,182.43Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-12" d="M1094.33,199.81a28,28,0,0,1-15.23-.82s5.23,6.84,15.8,3.57Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-4"
                  d="M1082.37,170.91c-.1.43-1.63.42-3.37.84s-3.12,1.09-3.4.75c-.13-.16.08-.58.6-1.05a6,6,0,0,1,5.16-1.21C1082,170.42,1082.41,170.71,1082.37,170.91Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-4"
                  d="M1095.9,164.77c-.24.41-1.52.31-3,.6s-2.64.79-3,.5c-.16-.15,0-.53.44-1a5.08,5.08,0,0,1,4.82-.88C1095.76,164.27,1096,164.58,1095.9,164.77Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-4"
                  d="M1069.05,155a7.53,7.53,0,0,0,10.21,5.47c1.58-.64,3.21-1.85,4.82-1.26s2.22,2.85,3.79,3.73c2.24,1.26,4.94-.92,7.5-.7,2,.16,3.51,1.7,5.06,3s3.7,2.28,5.45,1.34a22.63,22.63,0,0,0-1.77-4.82,7.5,7.5,0,0,0-3.66-3.46c-.88-.35-1.84-.47-2.67-.9-1.81-.92-2.62-3-3.93-4.57a8.26,8.26,0,0,0-7-2.8c-2.16.22-4.22,1.31-6.39,1.22-1.61-.07-3.15-.79-4.76-.76-3.13,0-5.49,2.8-7.22,5.4"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-4"
                  d="M1079.58,157.28c-1.43-.11-4.38-.41-5.34-1.43a8.43,8.43,0,0,0-8-2.64,6.94,6.94,0,0,0-5,6.66,10,10,0,0,0-7.3,7.17,11.59,11.59,0,0,0,2.49,10.51,20.82,20.82,0,0,1,1.64,2.37,17.15,17.15,0,0,0-1.77,2.7c-2.29,5.06,3.91,7,3.91,7,0,3.4,3.15,3.38,5.17,3.37s3.12,5.35,4.68,5.15l-1.59-16.57a2.17,2.17,0,0,0,.74.14c3.79.06,2.8-7.11,1.57-9a21.38,21.38,0,0,0,2.84-4.58,15.39,15.39,0,0,0,.15-7.66C1075,160.31,1080.21,157.32,1079.58,157.28Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-10"
                  d="M1069,182.45a3.21,3.21,0,0,0-5.15-1.72c-1,.86-1.54,2.3-.93,4.71,1.61,6.44,7.74,3.49,7.71,3.31S1069.67,185.11,1069,182.45Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-12"
                  d="M1068,186.8s-.09.11-.26.24a1.16,1.16,0,0,1-.83.23c-.75-.08-1.59-1-1.91-2.17a3.73,3.73,0,0,1-.09-1.68,1.35,1.35,0,0,1,.63-1.08.59.59,0,0,1,.74.15c.13.15.12.29.16.29s.11-.14,0-.39a.75.75,0,0,0-.36-.34.88.88,0,0,0-.66,0,1.62,1.62,0,0,0-.92,1.29,3.93,3.93,0,0,0,.06,1.89c.37,1.29,1.34,2.34,2.34,2.37a1.22,1.22,0,0,0,1-.42C1068.06,187,1068.06,186.81,1068,186.8Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-13"
                  d="M1103.51,173.46c0-.05.58-.45,1.4-1.45a9.4,9.4,0,0,0,2-5,9.21,9.21,0,0,0-.35-3.7,8,8,0,0,0-2.29-3.56,9.42,9.42,0,0,0-9.19-1.79c-.3.1-.58.25-.87.37s-.53.3-.78.45l-.4.22v-.44a3.26,3.26,0,0,0-.8-2.1,5.24,5.24,0,0,0-1.85-1.32,6.84,6.84,0,0,0-4.29-.32c-2.76.63-5.11,1.89-7.32,2.15a7,7,0,0,1-5-1,3.89,3.89,0,0,1-1-1c-.16-.27-.24-.42-.22-.43a5.69,5.69,0,0,0,1.31,1.27,7,7,0,0,0,4.83.81,17.12,17.12,0,0,0,3.35-1,33.24,33.24,0,0,1,3.91-1.28,8.76,8.76,0,0,1,2.26-.22,6.93,6.93,0,0,1,2.33.54,5.64,5.64,0,0,1,2,1.44,3.75,3.75,0,0,1,.93,2.44l-.4-.22.84-.48c.3-.12.6-.28.92-.39a9.81,9.81,0,0,1,9.69,1.93,8.23,8.23,0,0,1,2.38,3.78,9.48,9.48,0,0,1,.31,3.87,9.37,9.37,0,0,1-2.22,5.1,6.76,6.76,0,0,1-1.12,1A2.65,2.65,0,0,1,1103.51,173.46Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-13"
                  d="M1102.2,150.85a7.47,7.47,0,0,0-2.07-.71,5.56,5.56,0,0,0-2.46.22,4.94,4.94,0,0,0-2.54,1.85l-.24.35-.15-.4a7.51,7.51,0,0,0-6.1-4.53,9.7,9.7,0,0,0-5.86,1.7,25.89,25.89,0,0,1-4.65,2.4,7.23,7.23,0,0,1-3.52.41,4.52,4.52,0,0,1-.93-.25c-.21-.09-.31-.14-.3-.16s.44.13,1.25.21a7.55,7.55,0,0,0,3.37-.56,27.49,27.49,0,0,0,4.53-2.47,15.61,15.61,0,0,1,2.81-1.37,7.64,7.64,0,0,1,3.35-.43,7.9,7.9,0,0,1,6.47,4.89l-.4-.05a5.28,5.28,0,0,1,2.8-1.94,5.64,5.64,0,0,1,2.61-.13,4.75,4.75,0,0,1,1.57.6A2,2,0,0,1,1102.2,150.85Z"
                  transform="translate(-761.57 -111.59)"/>
            <path :style="style"
                  d="M1089,185.39a2.17,2.17,0,0,0-1.76-.51,2.55,2.55,0,0,0-1.68,1.23l0,0s0,0,0,.08l0,0a1.22,1.22,0,0,0-.19.76,1.85,1.85,0,0,0,1.05,1.35,2.31,2.31,0,0,0,2.62-.38A1.88,1.88,0,0,0,1089,185.39Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-4"
                  d="M1089.54,188.5c-.08,0-.18-.3-.44-.72a3.13,3.13,0,0,0-3.25-1.47c-.49.07-.79.2-.83.14s.21-.31.74-.5a3,3,0,0,1,3.67,1.67C1089.64,188.14,1089.6,188.49,1089.54,188.5Z"
                  transform="translate(-761.57 -111.59)"/>
            <path :style="style"
                  d="M1069.13,189.74s.28.5-.09,1.26a2,2,0,0,1-1.07,1,2,2,0,0,1-1.76-.21,1.94,1.94,0,0,1-.54-2.88c.52-.66,1.1-.68,1.09-.62s-.44.23-.79.83a1.76,1.76,0,0,0-.23,1.12,1.6,1.6,0,0,0,.75,1.11,1.62,1.62,0,0,0,1.32.2,1.78,1.78,0,0,0,.91-.7C1069.11,190.23,1069,189.74,1069.13,189.74Z"
                  transform="translate(-761.57 -111.59)"/>
            <path :style="style"
                  d="M1065.75,189.35c.06,0,0,.34-.46.56a1.31,1.31,0,0,1-1.75-1.61,1.26,1.26,0,0,1,.52-.65c.42-.25.73-.15.72-.09s-.24.13-.49.38a.93.93,0,0,0-.19,1.15.94.94,0,0,0,1.06.47C1065.51,189.49,1065.69,189.3,1065.75,189.35Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-10"
                  d="M1076.75,278.16s24.76,1.44,39.39,1.57c11.34.11,16.39-2.9,18.66-10.19,1.9-6.11-2.19-17.84-2.19-17.84-7.66,0-12.39,1.1-17.33,3.41l1.32,5.36-39.92,3.44Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-12"
                  d="M1124.92,266.19a20.18,20.18,0,0,0-3.74-3.71,19.43,19.43,0,0,0-4.82-2.12,3.49,3.49,0,0,1,1.59.14,10.52,10.52,0,0,1,6.26,4.26A3.55,3.55,0,0,1,1124.92,266.19Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-10"
                  d="M1067.68,255.07h0s-7.66,1.84-13.28,5.6l6,16.26c2,5.34,8.12,8,13,5.2,7.53-4.31,10.18-16.87,10.18-16.87l8.28-35.88-13.71-8.59-10.42,34.28"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-10"
                  d="M1078.1,220.79l.55-11.8-3.06-12c-.17-.66-.25-1.49.28-1.89a1.46,1.46,0,0,1,1.85.06c.84.86,4.84,11.35,4.84,11.35s6.06-3.64,7.15-3.82,2.43,3.09,2.52,3.34a20.32,20.32,0,0,1,0,2.2s3.75.11,4.08.62a12.84,12.84,0,0,1,.44,3.19s1.58.51,1.84,1.71.77,3.18,0,3.62-2.33,1.3-2.33,1.3-.64,6.12-.8,6.68-3.68,4-3.68,4Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-12"
                  d="M1065.35,282.37s.37.21,1.15.47a7.92,7.92,0,0,0,3.53.28,9.93,9.93,0,0,0,5.12-2.36,23.55,23.55,0,0,0,4.76-6,27.43,27.43,0,0,0,1.85-4.13,42.26,42.26,0,0,0,1.28-4.79c.79-3.37,1.63-7,2.53-10.86,1.81-7.71,3.83-16.33,6-25.62v-.07l.06,0c.68-.68,1.38-1.37,2.06-2.09.34-.36.68-.72,1-1.09a5.6,5.6,0,0,0,.45-.57,1.2,1.2,0,0,0,.17-.61c.27-2,.48-4.07.71-6.16v-.13l.12-.07,1.9-1.06a4.09,4.09,0,0,0,.45-.27.52.52,0,0,0,.18-.33,3,3,0,0,0,0-1,15.16,15.16,0,0,0-.44-2.17,2.69,2.69,0,0,0-1.59-1.29l-.17-.06v-.17c0-.58-.07-1.18-.13-1.77a8.1,8.1,0,0,0-.13-.88,2,2,0,0,0-.12-.37c0-.07,0,0-.06-.06l-.17-.07a17.24,17.24,0,0,0-3.66-.41l-.26,0v-.25c0-.62,0-1.31,0-2a2,2,0,0,0-.23-.67c-.11-.24-.22-.48-.34-.71a9.17,9.17,0,0,0-.82-1.32,2.4,2.4,0,0,0-.51-.5.48.48,0,0,0-.53-.06,10.47,10.47,0,0,0-1.41.65c-1.87,1-3.68,2-5.46,3.08l-.26.16-.11-.28-2.8-7-1.37-3.43a1.42,1.42,0,0,0-1.1-1,1.11,1.11,0,0,0-1.3.47,1.14,1.14,0,0,0-.15.72c0,.22.14.56.2.83l.45,1.72c.3,1.15.6,2.28.9,3.4.59,2.25,1.16,4.45,1.73,6.6V209q-.3,6.17-.57,11.8v.06c-3.78,12.29-6.92,22.49-9.11,29.64-1.11,3.54-2,6.33-2.57,8.25-.3.93-.53,1.66-.7,2.17s-.25.73-.25.73,0-.26.19-.75l.63-2.19c.57-1.93,1.4-4.72,2.46-8.28,2.15-7.16,5.23-17.38,8.93-29.7v.05q.25-5.62.54-11.8v.07q-.87-3.23-1.75-6.59l-.9-3.4-.46-1.72c-.07-.31-.16-.54-.22-.91a1.67,1.67,0,0,1,.22-1,1.6,1.6,0,0,1,.81-.68,2,2,0,0,1,1,0,2.16,2.16,0,0,1,.92.46,2.08,2.08,0,0,1,.54.87l1.37,3.43,2.81,7-.37-.13c1.78-1.06,3.59-2.12,5.48-3.11a12.68,12.68,0,0,1,1.49-.67,1,1,0,0,1,.5-.07,1,1,0,0,1,.47.18,2.91,2.91,0,0,1,.64.62,9.3,9.3,0,0,1,.87,1.4c.12.24.24.49.35.74a2.36,2.36,0,0,1,.28.85c0,.71,0,1.37,0,2l-.26-.27a17.7,17.7,0,0,1,3.82.44,1.83,1.83,0,0,1,.26.11.65.65,0,0,1,.26.26,2.1,2.1,0,0,1,.16.51,7.75,7.75,0,0,1,.14.93c.07.61.11,1.21.14,1.81l-.18-.24a3.14,3.14,0,0,1,1.91,1.58,15.33,15.33,0,0,1,.48,2.31,3.86,3.86,0,0,1,0,1.22,1.05,1.05,0,0,1-.36.62,5.09,5.09,0,0,1-.51.3l-1.92,1.07.13-.2c-.22,2.09-.43,4.15-.71,6.18l-.06.39a1,1,0,0,1-.19.43,7.87,7.87,0,0,1-.49.62c-.34.38-.68.75-1,1.11-.69.72-1.39,1.41-2.08,2.09l.07-.12c-2.2,9.28-4.24,17.9-6.07,25.61q-1.38,5.77-2.58,10.84a43.33,43.33,0,0,1-1.32,4.82,26.64,26.64,0,0,1-1.91,4.17,23.54,23.54,0,0,1-4.86,6.05,10,10,0,0,1-5.26,2.35,7.78,7.78,0,0,1-3.58-.36,5.54,5.54,0,0,1-.85-.39A1.27,1.27,0,0,1,1065.35,282.37Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-12"
                  d="M1092.23,208.26c0,.07-.33.11-.86.13a10,10,0,0,0-2,.24,3.89,3.89,0,0,0-1.7.91c-.37.34-.53.63-.6.6s0-.39.32-.85a3.36,3.36,0,0,1,1.84-1.16,5.54,5.54,0,0,1,2.14-.1C1091.92,208.1,1092.24,208.19,1092.23,208.26Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-12"
                  d="M1089.3,208.37c-.13-.05-.14-.36,0-.69s.33-.56.47-.51.14.36,0,.69S1089.44,208.42,1089.3,208.37Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-12"
                  d="M1096.92,212a9.29,9.29,0,0,1-3,.41,2,2,0,0,0-1.65.79c-.26.41-.18.75-.25.77s-.32-.33-.08-.93a1.65,1.65,0,0,1,.72-.8,3.21,3.21,0,0,1,1.2-.35A8.26,8.26,0,0,1,1096.92,212Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-12"
                  d="M1096.25,215.6c.15,0,.23.74.19,1.65s-.19,1.63-.33,1.62-.23-.74-.19-1.65S1096.11,215.59,1096.25,215.6Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-11"
                  d="M1100.41,242.53l.89-3.07a.84.84,0,0,1,1.4-.35l1.16,1.18.73-2.88a.83.83,0,0,1,1.56-.16l1.64,3.42Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-11"
                  d="M1107.81,242a26.93,26.93,0,0,1-7.19,1.78,13.17,13.17,0,0,1,3.53-1.14A13.47,13.47,0,0,1,1107.81,242Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-11"
                  d="M1048.34,224.89a14.52,14.52,0,0,0-.89,1.18,10.35,10.35,0,0,0-1.36,3.78,28,28,0,0,0-.18,6c.11,2.26.3,4.75.57,7.35a131.61,131.61,0,0,0,2.11,13.22c.36,1.68.68,3,.9,4,.1.41.19.77.26,1.07s.08.38.08.38a3.59,3.59,0,0,1-.12-.37c-.09-.3-.18-.65-.3-1.06-.24-.93-.59-2.27-1-3.95a116.39,116.39,0,0,1-2.17-13.23c-.28-2.6-.46-5.09-.56-7.36a26.76,26.76,0,0,1,.23-6,10,10,0,0,1,1.43-3.8A6,6,0,0,1,1048.34,224.89Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-11"
                  d="M1069.38,211.29s-.07.05-.22.12l-.66.32c-.57.27-1.4.67-2.39,1.22-2,1.08-4.66,2.74-7.52,4.7s-5.38,3.82-7.23,5.14l-2.2,1.55-.6.41a1.86,1.86,0,0,1-.22.14s.06-.07.19-.17l.58-.44,2.16-1.61c1.83-1.35,4.35-3.23,7.2-5.19a76.05,76.05,0,0,1,7.57-4.66c1-.53,1.84-.92,2.42-1.17l.68-.27A.86.86,0,0,1,1069.38,211.29Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-11"
                  d="M1117.07,217.8l-.16-.13q-.23-.18-.45-.39a20.14,20.14,0,0,0-1.75-1.31,36.58,36.58,0,0,0-6.43-3.25,64,64,0,0,0-6.86-2.28c-.89-.25-1.62-.43-2.12-.55l-.58-.15a.8.8,0,0,1-.2-.07l.21,0,.59.11c.51.1,1.24.26,2.14.49a55,55,0,0,1,6.89,2.23,33,33,0,0,1,6.44,3.32A12.53,12.53,0,0,1,1117.07,217.8Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-11"
                  d="M1069.67,294.13a1.28,1.28,0,0,1-.39-.14,5.9,5.9,0,0,1-1-.53,4.8,4.8,0,0,1-2.17-2.94,5.75,5.75,0,0,1,.39-3.66,5.39,5.39,0,0,1,.57-1c.17-.21.27-.31.28-.3a12.49,12.49,0,0,0-.72,1.33,5.92,5.92,0,0,0-.32,3.55,4.9,4.9,0,0,0,2.06,2.87C1069.13,293.88,1069.68,294.09,1069.67,294.13Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-11"
                  d="M1066.48,283.3a4.4,4.4,0,0,1,.48,1.26,4,4,0,0,1,.27,1.31,4.8,4.8,0,0,1-.47-1.25A4.59,4.59,0,0,1,1066.48,283.3Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-4"
                  d="M1080,507.51l30.51-.16L1110,401.9l-.28-107.27-41.31-.52-7.43,14a50.19,50.19,0,0,0-5.71,18.15c-.52,4.85,3.11,20.65,4.38,24.67L1071,387Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-4"
                  d="M1118.62,294.77l33.52,91.37a42.15,42.15,0,0,1-4.14,35.7l-38.91,76-21.88-27.37,32.56-68-28.7-46.51,4.83-61,13.52-.22Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-13"
                  d="M1106.88,325.38a4.37,4.37,0,0,1,0,.47q0,.5.09,1.38c.06,1.23.16,3,.28,5.29.22,4.63.55,11.28.94,19.49s.83,18,1.33,28.9c.25,5.44.5,11.15.77,17.07.19,3,.1,6,.14,9s0,6.16,0,9.3c0,25.13.08,47.88.1,64.37,0,8.22,0,14.88,0,19.51,0,2.29,0,4.07,0,5.31,0,.58,0,1,0,1.37s0,.47,0,.47,0-.15,0-.47l0-1.37c0-1.24,0-3-.06-5.31,0-4.63-.08-11.29-.14-19.5-.07-16.49-.16-39.24-.26-64.37q0-4.71,0-9.3c0-3.06.06-6.08-.13-9-.26-5.91-.5-11.62-.74-17.06-.46-10.88-.87-20.67-1.22-28.91s-.59-14.86-.77-19.49c-.08-2.28-.14-4.06-.19-5.3q0-.89,0-1.38C1106.87,325.54,1106.88,325.38,1106.88,325.38Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-13"
                  d="M1106.12,296.57a3.62,3.62,0,0,1,.21,1c.1.64.23,1.57.36,2.73.27,2.31.55,5.52.71,9.07s.17,6.77.11,9.1c0,1.16-.07,2.1-.11,2.75a4.7,4.7,0,0,1-.12,1,29.43,29.43,0,0,1-.14-3.76c0-2.33-.1-5.53-.26-9.08s-.38-6.74-.55-9.06A28.41,28.41,0,0,1,1106.12,296.57Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-13"
                  d="M1099.4,298.63c0,.07-.52.33-.68,1.14a1.31,1.31,0,0,0,.39,1.22,1.33,1.33,0,0,0,2.27-1,1.27,1.27,0,0,0-.67-1.09,2.41,2.41,0,0,0-1.3-.23s.09-.14.35-.21a1.7,1.7,0,0,1,1.12.11,1.66,1.66,0,0,1,1,1.39,1.79,1.79,0,0,1-3.08,1.42,1.66,1.66,0,0,1-.42-1.65,1.7,1.7,0,0,1,.65-.93C1099.24,298.62,1099.39,298.6,1099.4,298.63Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-13"
                  d="M1083.4,296.82a3.32,3.32,0,0,1,.27,1,9.77,9.77,0,0,1,.09,2.71,10.93,10.93,0,0,1-1.16,3.88,10.63,10.63,0,0,1-3.2,3.78,10.93,10.93,0,0,1-8.65,1.68,9.53,9.53,0,0,1-2.55-.95,3,3,0,0,1-.82-.57,16.86,16.86,0,0,0,3.44,1.16,10.5,10.5,0,0,0,12.57-9A17.94,17.94,0,0,0,1083.4,296.82Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-13"
                  d="M1122.63,305.57a4.05,4.05,0,0,1-1.92-.22,8.91,8.91,0,0,1-6.06-6.68,4.09,4.09,0,0,1,0-1.94c.09,0,.1.74.4,1.85a9.65,9.65,0,0,0,2.15,3.9,9.75,9.75,0,0,0,3.67,2.52C1121.91,305.41,1122.64,305.48,1122.63,305.57Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-13"
                  d="M1134.55,404.08a6.38,6.38,0,0,1-1.77,1.41,8.35,8.35,0,0,1-2.28,1,5.47,5.47,0,0,1-3.07-.08,8.86,8.86,0,0,1-4.27-3.4,8.22,8.22,0,0,1-1.17-1.92,13.33,13.33,0,0,1,1.46,1.69,9.36,9.36,0,0,0,4.14,3.13,6.41,6.41,0,0,0,5-.73A19.6,19.6,0,0,1,1134.55,404.08Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-13" d="M1126.91,409.92a49.36,49.36,0,0,1-5.89-8.28,49.36,49.36,0,0,1,5.89,8.28Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-14"
                  d="M1075.66,328.93c-.13.05-.49-.53-.79-1.29s-.45-1.43-.31-1.48.48.52.79,1.29S1075.8,328.87,1075.66,328.93Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-14"
                  d="M1095,331.69c-.14,0-.26-.49-.26-1.1s.12-1.11.26-1.11.26.5.26,1.11S1095.17,331.69,1095,331.69Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-14"
                  d="M1087.07,342.21c-.15,0-.3-.61-.36-1.37s0-1.39.17-1.4.3.6.35,1.37S1087.21,342.2,1087.07,342.21Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-14"
                  d="M1072.53,350c-.12.09-.53-.28-1.07-.67s-1-.67-1-.81.66-.05,1.27.39S1072.64,349.87,1072.53,350Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-14"
                  d="M1098.16,359.72c-.12-.08,0-.51.34-1s.65-.77.77-.69,0,.52-.34,1S1098.28,359.8,1098.16,359.72Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-14"
                  d="M1082.3,362.49c-.14,0-.26-.83-.26-1.84s.12-1.85.26-1.85.26.83.26,1.85S1082.44,362.49,1082.3,362.49Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-14"
                  d="M1077.16,373.71c-.08.11-.61-.12-1.17-.53s-.94-.83-.86-.95.61.12,1.17.53S1077.24,373.59,1077.16,373.71Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-14"
                  d="M1093.18,377.61c.06.13-.27.4-.72.61s-.88.26-.94.13.27-.4.72-.61S1093.12,377.48,1093.18,377.61Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-14"
                  d="M1082.3,395.87c-.13.06-.65-.71-1.15-1.73s-.82-1.9-.69-2,.64.71,1.15,1.73S1082.43,395.8,1082.3,395.87Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-14"
                  d="M1100,394.21c-.12-.07.1-.74.51-1.51s.84-1.33,1-1.26-.1.74-.51,1.51S1100.13,394.27,1100,394.21Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-14"
                  d="M1092.26,409.7c-.15,0-.14-.81-.29-1.75s-.4-1.69-.26-1.76.61.64.77,1.68S1092.39,409.73,1092.26,409.7Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-14"
                  d="M1084,418.55c-.11.1-.61-.28-1.11-.84s-.84-1.09-.73-1.19.6.28,1.11.84S1084.07,418.45,1084,418.55Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-14"
                  d="M1104.1,421.91c-.1-.1.27-.64.82-1.21s1.09-.94,1.19-.84-.26.64-.82,1.21S1104.2,422,1104.1,421.91Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-14"
                  d="M1092.52,435.16c-.15,0-.15-.79,0-1.71s.37-1.64.51-1.62.15.78,0,1.7S1092.66,435.18,1092.52,435.16Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-14"
                  d="M1084.72,441.59c-.12.07-.56-.45-1-1.16s-.65-1.34-.53-1.41.56.44,1,1.15S1084.85,441.51,1084.72,441.59Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-14"
                  d="M1103.5,449.7c.08.12-.43.63-1.14,1.14s-1.36.83-1.44.71.43-.63,1.14-1.14S1103.42,449.59,1103.5,449.7Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-14"
                  d="M1087.86,460.23c-.14-.05,0-.85.12-1.85s.06-1.82.21-1.84.41.81.31,1.89S1088,460.29,1087.86,460.23Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-14"
                  d="M1094.1,475.35c-.11.09-.53-.25-.94-.76s-.65-1-.53-1.09.53.25.94.76S1094.21,475.26,1094.1,475.35Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-14"
                  d="M1087.28,485.49c-.12.08-.67-.51-1.23-1.33s-.92-1.54-.8-1.62.67.51,1.23,1.33S1087.4,485.41,1087.28,485.49Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-14"
                  d="M1106.09,472.76c-.14-.05-.12-.42,0-.82s.39-.7.52-.65.12.42,0,.83S1106.22,472.81,1106.09,472.76Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-14"
                  d="M1097.79,496.92c-.13-.07.12-.78.31-1.67s.28-1.64.43-1.65.3.79.08,1.76S1097.91,497,1097.79,496.92Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-14"
                  d="M1103.18,342.37c-.13.06-.44-.34-.7-.9s-.37-1.06-.24-1.12.45.34.71.9S1103.31,342.31,1103.18,342.37Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-14"
                  d="M1089.31,311.22c.08.13-.63.69-1.37,1.49s-1.27,1.54-1.4,1.46.22-1,1-1.81S1089.24,311.1,1089.31,311.22Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-14"
                  d="M1101.66,310.86c-.14,0-.38-.57-.72-1.25s-.68-1.24-.57-1.34.65.34,1,1.1S1101.8,310.83,1101.66,310.86Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-14"
                  d="M1063.17,321c-.13-.06,0-.72.3-1.48s.66-1.35.79-1.29,0,.71-.3,1.48S1063.3,321.07,1063.17,321Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-14"
                  d="M1064.41,336.12c-.09.11-.66-.21-1.27-.72s-1-1-.94-1.12.66.21,1.27.72S1064.51,336,1064.41,336.12Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-14"
                  d="M1089.68,299.24c-.14.05-.41-.32-.61-.83s-.26-1-.13-1,.41.32.61.83S1089.81,299.18,1089.68,299.24Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-14"
                  d="M1113.87,306.62c-.15,0-.13-.63,0-1.34s.4-1.27.54-1.24.13.64,0,1.35S1114,306.65,1113.87,306.62Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-14"
                  d="M1119.55,318.05c-.13-.06,0-.8.41-1.67s.75-1.52.88-1.47,0,.8-.4,1.67S1119.68,318.1,1119.55,318.05Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-14"
                  d="M1115.49,327.27c-.13.06-.6-.63-1.06-1.55s-.72-1.71-.6-1.77.61.62,1.07,1.54S1115.62,327.2,1115.49,327.27Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-14"
                  d="M1124.16,336.49c-.13-.05,0-.63.22-1.29s.57-1.16.7-1.11,0,.63-.22,1.29S1124.29,336.54,1124.16,336.49Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-14"
                  d="M1116.42,345.52c-.13.08-.43-.19-.69-.6s-.36-.8-.24-.87.43.19.69.6S1116.54,345.45,1116.42,345.52Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-14"
                  d="M1118.07,364.16c-.11.09-.73-.41-1.39-1.12s-1.11-1.37-1-1.47.73.4,1.39,1.12S1118.17,364.06,1118.07,364.16Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-14"
                  d="M1128.22,353.45c-.12.09-.66-.41-1.22-1.13s-.92-1.36-.81-1.45.66.42,1.22,1.13S1128.33,353.36,1128.22,353.45Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-14"
                  d="M1133.79,368.22c-.13-.06.09-.81.5-1.67s.85-1.52,1-1.46-.1.81-.51,1.68S1133.92,368.28,1133.79,368.22Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-14"
                  d="M1122,380.38c-.13.07-.59-.48-1.24-1.07s-1.23-1-1.16-1.15.81.12,1.52.77S1122.07,380.31,1122,380.38Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-14"
                  d="M1122.69,392.92c0,.14-.5.26-1.11.26s-1.11-.12-1.11-.26.5-.26,1.11-.26S1122.69,392.77,1122.69,392.92Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-14"
                  d="M1134.86,389.41c-.13-.08.13-.7.32-1.48s.27-1.46.41-1.47.32.72.09,1.59S1135,389.49,1134.86,389.41Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-14"
                  d="M1147,393.62c-.14,0-.51-.66-.83-1.57s-.47-1.69-.33-1.73.5.65.82,1.56S1147.08,393.57,1147,393.62Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-14"
                  d="M1145,410.82c-.13-.07.18-.91.69-1.88s1-1.7,1.15-1.63-.18.9-.69,1.87S1145.15,410.88,1145,410.82Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-14"
                  d="M1134,420.92c-.14.06-.55-.63-.92-1.54s-.57-1.69-.44-1.75.55.64.92,1.55S1134.12,420.87,1134,420.92Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-14"
                  d="M1121.76,424.82c0,.14-.41.26-.92.26s-.92-.12-.92-.26.41-.26.92-.26S1121.76,424.67,1121.76,424.82Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-14"
                  d="M1128.77,440.86c-.14,0-.42-.55-.62-1.31s-.26-1.42-.12-1.45.42.55.62,1.31S1128.91,440.82,1128.77,440.86Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-14"
                  d="M1119.92,435.51c-.12-.07,0-.54.33-1.05s.65-.86.78-.79,0,.55-.33,1.06S1120,435.59,1119.92,435.51Z"
                  transform="translate(-761.57 -111.59)"/>
            <path class="cls-14"
                  d="M1119.73,453.22c-.14,0-.34-.67-.44-1.54s-.07-1.58.08-1.6.34.67.44,1.54S1119.88,453.2,1119.73,453.22Z"
                  transform="translate(-761.57 -111.59)"/>
        </g>
    </svg>
</template>

<style>

.cls-1 {
    fill: #f5f5f5;
}

.cls-2 {
    fill: #e0e0e0;
}

.cls-3 {
    fill: #ebebeb;
}

.cls-4 {
    fill: #263238;
}

.cls-6, .cls-8 {
    opacity: 0.3;
}

.cls-7 {
    opacity: 0.1;
}

.cls-9 {
    opacity: 0.4;
}

.cls-10 {
    fill: #ffbe9d;
}

.cls-11 {
    fill: #fff;
}

.cls-12 {
    fill: #eb996e;
}

.cls-13 {
    fill: #455a64;
}

.cls-14 {
    fill: #fafafa;
}</style>

<script>

function colorToStyleObject(color) {
    return `fill: ${color}`
}

export default {
    props: ["color"],
    data: function(){
        return {
            //this.color
            style: colorToStyleObject("#FFF")
        }
    }
}
</script>
