<template>
  <el-form method="get" :action="route('filter')">
    <el-row class="mb-12">
      <el-input
          name="searchText"
          v-model="searchText"
          class="input-with-select"
          placeholder="Search for ice cream 🍦 or rock music 🤘"
      >
        <template #append>
          <el-button icon="el-icon-search" native-type="submit"></el-button>
        </template>
      </el-input>
    </el-row>
  </el-form>
</template>

<script>
export default {
  name: "SearchBar",
  props: ['searchText'],
  data: function(){
    return {
      searchText: self.searchText,
    }
  }
}
</script>

<style scoped>
</style>