<template>
    <el-card class="demo-wrap box-card m-4 transparent-small-card">
      <a :href="href" :title="text">
      <img
          class="demo-bg"
          :src="image_src"
          :alt="image_alt"
      >
      <div class="demo-content text-left font-head text-chooziz small-card-title m-auto">
        {{text}}
      </div>
      </a>
    </el-card>
</template>

<script>
export default {
  name: "TopicCard",
  props: ['image_src', 'image_alt', 'text', 'href']
}
</script>

<style scoped>

.small-card-title{
  font-size: larger;
  font-weight: lighter;
  letter-spacing: 1px
}

.demo-wrap {
  overflow: hidden;
  position: relative;
}

.demo-bg {
  opacity: 0.3;
  position: absolute;
  object-fit: cover;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.demo-content {
  margin: 0 !important;
  position: absolute !important;
  top: 50% !important;
  left: 10% !important;
  transform: translate(-5%, -50%) !important;
}

.transparent-small-card{
  min-width: 250px;
  min-height: 250px;
  width: 250px;
  height: 250px;
  border: none
}
</style>