<template>
  <div class="min-h-screen bg-gray-100">
      <teleport to="head">
        <title>{{meta.title}}</title>
        <meta v-if="meta.robots" name="robots" :content="meta.robots">
        <meta v-if="meta.description" name="description" :content="meta.description"/>
        <meta v-if="meta.keywords" name="keywords" :content="meta.keywords"/>
      </teleport>
      <el-header class="bg-gray-700 p-6">
            <el-row>
                <el-col :span="12">
                    <inertia-link href="/" title="Home">
                        <breeze-application-logo class="w-auto h-10 m-2"/>
                    </inertia-link>
                </el-col>
<!--                <el-col :span="12" class="text-white text-bold pt-4">-->
<!--                    <div class="float-right" v-if="$page.props.auth.user">-->
<!--                        <inertia-link href="/dashboard">-->
<!--                            Account-->
<!--                        </inertia-link>-->
<!--                    </div>-->
<!--                    <div class="float-right" v-else>-->
<!--                        <inertia-link :href="route('register')">-->
<!--                            Register-->
<!--                        </inertia-link>-->
<!--                        |-->
<!--                        <inertia-link :href="route('login')">-->
<!--                            Login-->
<!--                        </inertia-link>-->
<!--                    </div>-->
<!--                </el-col>-->
            </el-row>
        </el-header>
        <slot />
    </div>
</template>

<style>
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto&display=swap');

.font-head{
    font-family: 'Anton', cursive;
}
.font-main{
    font-family: 'Roboto', sans-serif;
}

.bg-question-marks-pattern{
    background: url("/images/pattern.svg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.center-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-chooziz{
  color: rgb(55, 65, 81);
}

</style>

<script>
import BreezeApplicationLogo from '@/Components/ApplicationLogo'
export default {
    components: {
        BreezeApplicationLogo,
    },
    props: ["meta"]
}
</script>
